<% if @lawyers.present? %>
  <div class="col-3">
    <div class="card h-100">
      <% if lawyer.photo.key %>
        <%= cl_image_tag lawyer.photo.key, class: "card-img-top", width: 300, height: 300, crop: :fill %>
      <% else %>
        <%= image_tag "Logo.png", alt: "Logo Conexão Advogados", class: "card-img-top", width: 300, height: 300, crop: :fill %>
      <% end %>
      <div class= "p-3 d-flex flex-column justify-content-between h-100">
        <div>
          <p><b><%= lawyer.user.first_name %></b></p>
          <%# <p><%= lawyer.description %>
          <p><%= lawyer.detail %></p>
          <p><%= lawyer.group.join(", ") %></p>
          <%# <p><%= number_to_currency(lawyer.price, unit: "U$ ", separator: ",", delimiter: ".") %></p> %>
        </div>
        <%= link_to "See More", lawyer_path(lawyer), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% else %>
  <p>Nenhum advogado encontrado.</p>
<% end %>
