<div class="col-3">
  <div class="card h-100">
    <% if lawyer.photo.key %>
      <%= cl_image_tag lawyer.photo.key, class: "card-img-top", width: 300, height: 300, crop: :fill %>
    <% else %>
      <%= image_tag "Logo.png", alt: "Logo My-Welcome", class: "card-img-top", width: 300, height: 300, crop: :fill %>
    <% end %>
    <div class= "p-3 d-flex flex-column justify-content-between h-100">
      <div>
        <p><b><%= lawyer.description %></b></p>
        <%# <p><%= lawyer.description %>
        <p><%= lawyer.local %></p>
        <p><%= lawyer.date.strftime("%d %B %Y")  %></p>
        <p><%= number_to_currency(lawyer.price, unit: "U$ ", separator: ",", delimiter: ".") %></p>
      </div>
      <%= link_to "See More", lawyer_path(lawyer), class: "btn btn-primary" %><!-- ... (unchanged code for Workshops) ... -->
    </div>
  </div>
</div>
