
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Sign up</h2>
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" } %>
    <%= f.input :cpf, label: "CPF",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "CPF" } %>
    <%= f.input :phone,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "phone" } %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
            <%= render "devise/shared/links" %>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class:"btn-signup"%>
        </div>
  </div>

<% end %>
