<!-- app/views/appointments/show.html.erb -->

<h1 class="mb-4">Appointment Details</h1>

<div class="card">
  <div class="card-body">
    <p class="card-text"><strong>Experience:</strong> <pre>"" "</pre>  <%= @experience.specialty %></p>
    <p class="card-text"><strong>Description:</strong> <%= @appointment.experience.description %></p>
    <p class="card-text"><strong>Category:</strong> <%= @appointment.experience.category %></p>
    <p class="card-text"><strong>Date:</strong> <%= @appointment.experience.date %></p>
    <p class="card-text"><strong>Local:</strong> <%= @appointment.experience.local %></p>
    <p class="card-text"><strong>Price:</strong> <%= @appointment.experience.price %></p>
  </div>
  <div class="card-footer">
    <%# <%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-primary' %>
    <%= link_to 'Delete', appointment_path, class: "btn btn-danger rounded", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>
