<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seu Título Aqui</title>
  <!-- Corrigindo o link para os ícones do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Adicione outros estilos ou scripts que você precise -->
</head>
<body>

<div class="navbar navbar-expand-lg navbar-light navbar-mw">
  <div class="container-fluid mx-special">
    <div class="links-navbar d-lg-block d-lg-flex justify-content-center align-items-left m-3">
      <!-- Corrigindo o link para a raiz e a imagem -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dop9mb8rc/image/upload/v1714138580/15_jlrivi.png" %>
      <% end %>
    </div>

    <!-- Botão do menu hambúrguer para telas menores que 'lg' -->
    <button class="navbar-toggler text-color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Área de colapso para os links do menu -->
    <div class="navbar-mb collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item me-5">
          <%= link_to raw("<strong>Sobre</strong>"), sobre_path, class: "nav-link nav-link-custom poppins-font", style: "font-weight: bold;" %>
        </li>
        <li class="nav-item me-5">
          <%= link_to raw("<strong>Notícias</strong>"), lawyers_path, class: "nav-link nav-link-custom poppins-font" %>
        </li>
        <li class="nav-item me-custom">
          <%= link_to raw("<strong>Área do Advogado</strong>"), adv_path, class: "nav-link nav-link-custom poppins-font" %>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <div class="d-flex justify-content-center align-items-center flex-row">
            <span class="navbar-nav bg-none border-1 me-2"><i class="bi bi-search text-white"></i></span>
            <input class="border-1 bg-white me-5" type="search" placeholder=" Buscar..." aria-label="Buscar">
          </div>
        </li>
        <!-- Corrigindo a verificação do login do usuário -->
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Connections", connections_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Create Lawyer", new_lawyer_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link nav-link-custom" do %>
              <strong>Logout</strong>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item me-2">
            <%= link_to new_user_session_path, class: "nav-link nav-link-custom opens-sans-font" do %>
              <strong>Login</strong>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link nav-link-custom opens-sans-font" do %>
              <strong>Cadastrar-se</strong>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Adicione outros scripts que você precise -->
</body>
</html>
