<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="navbar navbar-expand-lg navbar-light navbar-mw">
  <div class="container-fluid mx-spetial">
    <div class="links-navbar d-lg-block d-lg-flex justify-content-center align-items-left">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dop9mb8rc/image/upload/v1711326214/cb956f35352489.56f344556f06f_dsghko.jpg" %>
      <% end %>
    </div>

    <!-- Botão do menu hambúrguer para telas menores que lx -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Área de colapso para os links do menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item me-5">
          <%= link_to "Sobre", sobre_path, class: "nav-link nav-link-custom" %>
        </li>
        <li class="nav-item me-5">
          <%= link_to "Notícias", lawyers_path, class: "nav-link nav-link-custom" %>
        </li>
        <li class="nav-item me-custom">
          <%= link_to "Área do Advogado", adv_path, class: "nav-link nav-link-custom" %>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <div class="d-flex justify-content-center align-items-center flex-row">
            <span class="navbar-nav bg-none border-1 me-2"><i class="bi bi-search "></i></span>
            <input class="border-1 bg-white me-5" type="search" placeholder=" Buscar..." aria-label="Buscar">
          </div>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Connections", connections_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Create Lawyer", new_lawyer_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link nav-link-custom" do %>
              Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

