
<div class="navbar navbar-expand-sm navbar-light navbar-mw">

  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "lg-mw-transparent-preview.png", class: "logo-nav" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Excursions", experiences_path(anchor: 'excursions'), class: "dropdown-item" %>
              <%= link_to "Gastronomy", experiences_path(anchor: 'gastronomy'), class: "dropdown-item" %>
              <%= link_to "Workshops", experiences_path(anchor: 'workshops'), class: "dropdown-item" %>
            </div>
          </li>
          </ul>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <!-- <%= link_to "Home", "#", class: "nav-link" %> -->
          </li>
        </div>
          <!-- <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link messages-d-none" %>
          </li>  -->
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Appointments", appointments_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Create Experience", new_experience_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <div class="links-navbar">
            <!-- Outros links da barra de navegação -->
            <%= link_to new_user_session_path, class: "login-link" do %>
              Login
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
