
<div class="navbar navbar-expand-sm navbar-light navbar-mw">

  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dop9mb8rc/image/upload/v1711326214/cb956f35352489.56f344556f06f_dsghko.jpg" %>
    <%#   <%= image_tag "logotransparente.png", class: "logo-nav" %>
    <% end %>


    <div class="links-navbar">
      <%# <%= link_to "Trabalhista", lawyers_path('show_only': 'excursions') %>
      <%# <%= link_to "Previdenciário", lawyers_path('show_only': 'gastronomy') %>
      <%# <%= link_to "Penal", lawyers_path('show_only': 'workshops') %>

      <%= link_to "Sobre", lawyers_path %>
      <%= link_to "Área do Cliente", lawyers_path%>
      <%= link_to "Área do Advogado", lawyers_path %>
      <%= link_to "Agendamento Online", lawyers_path%>
      <%= link_to "Planos e Preços", lawyers_path%>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Excursions", lawyers_path(anchor: 'excursions'), class: "dropdown-item" %>
              <%= link_to "Gastronomy", lawyers_path(anchor: 'gastronomy'), class: "dropdown-item" %>
              <%= link_to "Workshops", lawyers_path(anchor: 'workshops'), class: "dropdown-item" %>
            </div>
          </li>
          </ul>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <!-- <%= link_to "Home", "#", class: "nav-link" %> -->
          </li>
        </div>
          <!-- <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link messages-d-none" %>
          </li>  -->
          <%# <li class="nav-item dropdown"> %>
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://res.cloudinary.com/dop9mb8rc/image/upload/v1711326214/cb956f35352489.56f344556f06f_dsghko.jpg", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Appointments", appointments_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Create Lawyer", new_lawyer_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <div class="links-navbar">
            <!-- Outros links da barra de navegação -->
            <%= link_to new_user_session_path, class: "login-link" do %>
              Login
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
