<%# <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
</style> %>

<section class="pt-0">
<div class="bg-home open-sans-font">

	<div class="container position-relative">
		<!-- Bg image -->
		<!--
    <div class="rounded-3" >
      <div class="row justify-content-center align-items-center min-vh-60">
        <div class="col-md-7 col-lg-8 col-xxl-7 pb-5 mb-0 mb-lg-5">
          <div class="text-center mt-3 d-flex flex-column align-items-center mt-3">
            <div class="position-absolute" id="dynamic-text"></div>
            <%# <h1 class="font-weight-bold text-white display-1 px-3" style="font-family: 'Nunito', sans-serif;">CONEXÃO ADVOGADO</h1> %>
            <div class="mt-custom"><%= link_to "Saiba mais", sobre_path, class: "p-2 px-4 m-5 btn btn-custom rounded-pill" %></div>
          </div>
          <%# <p class="text-white mb-0">Planning for a trip? We will organize your best trip with the best destination and within the best budgets!</p> %>
        </div>
      </div>
    </div>
    -->
<div class="rounded-3 mb-260">
  <!-- Banner title -->
  <div class="row min-vh-60">
    <div class="pb-5 mb-0 mb-lg-5">
      <div class="text-center mt-3 d-flex flex-column align-items-center mt-3">
        <div class="position-absolute d-flex align-items-center">
          <!-- Espaço para a imagem -->
          <div class="col-5 m-4 d-flex flex-column justify-content-center align-items-center d-none d-md-block image-150">
            <%= image_tag "https://res.cloudinary.com/dop9mb8rc/image/upload/v1714153419/9_w5ehxf.png", class: "image-150" %>
          </div>
          <!-- Linha vertical -->
          <div class="col-1 d-flex justify-content-end align-items-center">
            <div style="border-left: 1px solid white; height: 200px;"></div>
          </div>
          <!-- Texto -->
          <div class="col-6 m-5 d-flex flex-column text-white mt-5">
            <div class="ml-5 d-inline">
              <h4 class="font-weight-bold">A PLATAFORMA QUE FALTAVA PARA SEUS</h4>
            </div>
            <div class="text-color-yellow">
              <h4 class="font-weight-bold">SERVIÇOS JURÍDICOS</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


		<!-- Search START -->

  <%= form_with url: lawyers_path, method: :get, local: true, class: 'shadow rounded-3 p-4 text-color-blue' do |form| %>
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="text-color-white hero-heading text-left mb-3"> <strong>Encontre o melhor profissional para suas demandas</strong> </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 p-0 text-center ">
        <div class="form-border-bottom form-fs-lg m-1 mb-3">
          <select id="group-select" class="form-control h-100 text-center text-color-blue" name="group">
            <option value="" disabled selected id="default-option">Tipo de atendimento</option>
            <option value="Advocacia" class="option-h5">Advocacia</option>
            <option value="Consultoria" class="option-h5">Consultoria</option>
            <option value="Correspondente" class="option-h5">Correspondente</option>
          </select>
        </div>
      </div>
    </div>

  <% end %>
  </div>

</div>

<section>
	<div class="container">
		<div class="row g-4">

			<div class="col-lg-4 position-relative p-5">
				<h2>We find the perfect experience for your travel.</h2>
				<p>Book your experience with us. We are here to help you enjoy your adventure.</p>
				<img src="assets/images/about/09.jpg" class="rounded-3" alt="">
				<!-- Svg decoration -->
				<figure class="position-absolute bottom-0 end-0 me-lg-n5 mb-n3">

				</figure>
			</div>

			<div class="col-lg-7 position-relative ms-auto">
				<!-- Svg decoration -->
				<%# <figure class="position-absolute top-0 start-0 translate-middle mt-8 ms-n4 z-index-9 d-none d-xl-block">
					<svg class="fill-orange" width="153.6px" height="71.4px" viewBox="0 0 153.6 71.4" style="enable-background:new 0 0 153.6 71.4;" xml:space="preserve">
						<path d="M14.4,0.8c-2.3,0.4-4.6,0.9-6.8,1.5C6.7,2.6,5.8,2.8,4.9,3.1S3,3.7,2.3,4.2c-0.6,0.3-1.1,1-1.5,1.4C0.3,6.2,0,6.9,0,7.6 c0,0.1,0,0.2,0.1,0.3C0.2,8.1,0.6,8,0.8,7.9c0.7-0.4,1.4-0.7,2.1-1.1c0.5-0.3,1-0.6,1.6-0.7c1.1-0.2,2.1-0.6,3.1-0.9 c3.4-1,7-1.4,10.5-1.7c6.5-0.6,12.9,0,19.2,1.4c2.7,0.6,5.5,1.3,8.2,1.9c2.2,0.6,4.5,1.1,6.7,1.8c1.1,0.3,2.2,0.6,3.4,1 c1,0.3,2.2,0.6,3.2,1c0.3,0.2,0.6,0.4,0.9,0.6c0.5,0.2,1,0.3,1.4,0.5c1,0.3,1.9,0.7,2.8,1.2c1.8,0.9,3.5,2,5.1,3.3 c1.5,1.2,3,2.5,4.4,3.8c0.6,0.6,1.4,1.4,2,2.1c0.1,0.1,0.4,0.3,0.3,0.5c0,0.2-1,0.2-1.1,0.2c-0.7,0-1.4,0.1-2.1,0.2 c-2.9,0.3-5.8,0.7-8.6,1.4c-2,0.6-4,1.3-5.8,2.2c-0.9,0.5-1.8,1-2.6,1.7c-0.7,0.6-1.4,1.4-2.2,1.8c-1,0.6-1.8,1.8-2.2,3 c-0.6,1.3-0.8,2.7-0.8,4.1c-0.1,2.1,2.6,5.3,4.9,6.1c4.4,1.5,8.5,0.1,12.7-0.6c3.8-0.6,6.9-2.6,10.1-4.6c2.8-1.8,5.3-3.9,4.6-7.8 c-0.2-1.5,0.5-1.4,1.6-1.2c0.2,0,0.2,0.1,0.4,0.1c4.5,0.7,9,1,13.4,2.2c4.6,1.2,8.9,3,13,5.1c3.5,1.9,6.7,4.4,9.8,6.9 c0.9,0.6,1.8,1.4,2.6,2.1c0.8,0.6,1.8,1.2,2.5,2c0.6,0.7,1.4,1.1,2.1,1.6c0.8,0.6,1.7,1.2,2.5,1.8c0.7,0.6,1.4,1.1,2.1,1.8 c0.3,0.3,0.6,0.6,1,1c1,0.9,2.2,1.4,3.1,2.2c0.3,0.2,0.5,0.6,0.7,0.8c0.5,0.4,0.9,0.8,1.4,1.2c0.9,0.8,1.8,1.5,2.7,2.3 c0.4,0.3,0.7,0.6,1.1,1c0.2,0.2,0.7,0.5,0.7,0.8c0,0.2,0,0.2-0.2,0.2c-0.2,0.1-0.7-0.1-1-0.1c-0.2,0-0.4,0-0.6,0 c-0.6,0.1-1.1,0.1-1.7,0.2c-2.2,0.2-4.4,0.8-6.5,1.4c-0.6,0.2-1.2,0.3-1.5,0.8c-0.4,0.5-0.2,1.3,0.3,1.4c0.2,0.1,0.4,0,0.6,0 c3.8-0.6,7.6,0,11,1.4c1.6,0.6,3.2,1.4,4.6,2.5c0.3,0.2,0.6,0.4,0.9,0.6c0.7,0.4,1.4,0.9,2.1,1.3c0.3,0.2,0.6,0.4,1,0.4 c0.6-0.1,1-0.7,1.3-1.4c0.1-0.3,0.2-0.6,0.2-0.9c-0.1-0.2-0.2-0.5-0.7-0.7c-0.6-0.7-1.4-1.4-1.7-2.2c-0.4-0.9-1-1.6-1.4-2.4 c-0.9-1.7-1.4-3.7-1.6-5.6c-0.4-3,0-5.9,0.6-8.9c0.1-0.2,0.1-0.3,0-0.5c-0.1-0.1-0.2-0.2-0.3-0.2c-0.6-0.3-1.4-0.1-1.9,0.5 c-0.5,0.5-0.7,1.2-0.9,1.9c-0.4,1.4-0.6,3-0.6,4.4c0,0.6,0.2,1,0.2,1.6c-0.8-0.6-1.4-1.4-2.2-2.2c-0.6-0.6-1.2-1-1.8-1.5 c-0.8-0.7-1.7-1.5-2.5-2.2c-0.8-0.7-1.7-1.4-2.4-2.2c-0.9-1-1.9-1.8-2.9-2.6c-1.1-1-2.3-2.1-3.4-3.1c-0.6-0.6-1.2-1.2-1.9-1.6 c-0.7-0.3-1.4-0.7-2-1.3c-1.5-1.4-3.1-2.6-4.7-3.9c-3.2-2.5-6.5-4.9-10.1-6.6c-4-2-8.5-3.1-12.8-4.3c-1.4-0.4-2.7-0.7-4.1-1.1 c-2.6-0.7-5.2-1-7.8-1.3c-0.6,0-1-0.2-1.5-0.2c-1.1,0-2.2,0.2-3.4,0.1c-0.4,0-0.7-0.2-1-0.5c-0.8-0.9-1.4-1.8-2.2-2.7 c-0.2-0.4-0.5-0.8-0.7-1.1c-0.2-0.4-0.8-0.6-1.1-1c-0.6-0.7-1.3-1.4-2-2.2c-1.4-1.4-2.9-2.6-4.5-3.8c-2.2-1.6-4.5-3-6.9-4.2 c-1-0.6-2.2-1.3-3.4-1.4c-0.3-0.1-0.6-0.1-1-0.1c-0.5-0.1-1-0.2-1.4-0.4c-2.2-0.7-4.3-1.4-6.5-2c-4.3-1.2-8.7-2.2-13.2-2.9 c-0.8-0.1-1.5-0.3-2.3-0.2c-0.4,0-0.8,0.1-1.2,0c-1.1-0.2-2.3-0.3-3.4-0.4C28.9,0,26.6,0,24.3,0c-2.1,0.1-4.2,0.3-6.2,0.4 c-0.2,0-0.2,0-0.3,0C16.6,0.5,15.4,0.7,14.4,0.8z M71.3,28.3c0.7-0.1,1.4-0.4,2.2-0.4c2-0.1,4,0.1,5.9,0.4c0.3,0,0.6,0.1,0.7,0.2 c0.2,0.2,0.1,0.5,0,0.7C80,29.5,80,29.8,79.9,30c-0.2,0.6-0.7,1.2-1.2,1.7c-3,3-6.9,4.6-10.8,5.6c-3.7,1-7.6,2.2-11.6,1 c-1.1-0.4-2.5-0.5-2.8-1.8c-0.4-1.4,1-2,1.8-2.7c4-3.4,8.9-4.3,12.9-4.9C69.2,28.6,70.2,28.5,71.3,28.3z"/>
					</svg>
				</figure> %>
				<!-- Image -->
				<div class="position-relative mb-5">
					<!-- Image -->
					<img src="assets/images/about/10.jpg" class="rounded-3" alt="">
					<!-- Manager -->
					<%# <div class="position-absolute bottom-0 start-0 ms-n3 ms-lg-n6 mb-2 z-index-1 p-5">
						<div class="bg-mode shadow d-inline-block text-center rounded-3 position-relative p-4">
							<span class="h3 text-primary mb-2">10M+</span>
							<h6 class="fw-normal">Total Booking</h6>
						</div>
					</div> %>
				</div>
				<!-- Features START -->
				<div class="row g-4 g-md-5">
					<!-- Item -->
					<div class="col-sm-6">
						<div class="d-flex">
							<!-- Svg icon -->
							<figure>
								<svg width="50.1px" height="49.9px" viewBox="0 0 50.1 49.9" style="enable-background:new 0 0 50.1 49.9;" xml:space="preserve">
									<path class="fill-primary" d="M49.8,41.1l-5-3.4l0.8-1.5c0.1-0.3,0.1-0.6-0.1-0.8c-0.1-0.1-1.4-1.6-4.5-3.2c1.1-2.4,2-5.1,2.7-7.9 c2-8.6,1.3-15.9,1.3-16.2c0-0.3-0.3-0.6-0.7-0.7c-5.8-0.6-10.6-2.6-13.6-4.1c-3.2-1.7-5.1-3.2-5.1-3.2c-0.3-0.2-0.7-0.2-0.9,0 c-0.1,0.1-7.5,6.1-18.7,7.3c-0.3,0-0.6,0.3-0.7,0.7c0,0.1-0.3,3.4,0,8.2c0,0.4,0.4,0.7,0.8,0.7c0.4,0,0.7-0.4,0.7-0.8 C6.5,12.7,6.6,10,6.7,8.9c5.8-0.7,10.5-2.6,13.5-4.2c2.4-1.3,4.1-2.4,4.9-3c0.8,0.6,2.4,1.7,4.9,3c3,1.5,7.7,3.5,13.5,4.2 c0.1,1.9,0.4,8.2-1.3,15.1c-0.7,3-1.7,5.8-2.9,8.3c0,0.1-0.1,0.1-0.1,0.2C39.1,32.7,39,32.8,39,33c0,0.1-0.1,0.2-0.1,0.3 c-0.1,0.2-0.2,0.3-0.2,0.5c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.1,0.2-0.2,0.3c-0.1,0.1-0.1,0.2-0.2,0.3c0,0.1-0.1,0.2-0.1,0.2 c-0.2,0.3-0.3,0.5-0.5,0.8c0,0,0,0,0,0.1c-0.1,0.1-0.2,0.3-0.3,0.4c0,0.1-0.1,0.1-0.1,0.2c-0.5,0.7-1,1.5-1.6,2.1c0,0,0,0,0,0 c-0.1,0.1-0.2,0.3-0.3,0.4c-0.1,0.1-0.2,0.2-0.3,0.3c0,0,0,0-0.1,0.1c-0.1,0.1-0.2,0.2-0.3,0.3c0,0,0,0,0,0 c-2.6,2.8-5.7,4.9-9.3,6.4c-3.5-1.4-7.5-3.9-10.8-8.1c0,0,0,0,0,0c-0.1-0.1-0.1-0.2-0.2-0.3c-1.2-1.6-2.3-3.4-3.2-5.3 c0,0,0-0.1-0.1-0.1c-1.7-3.5-3-7.8-3.7-13c-0.1-0.4-0.4-0.7-0.8-0.6c-0.4,0.1-0.7,0.4-0.6,0.8c0.6,4.8,1.8,9.1,3.6,12.9 c-3.1,1.6-4.5,3.2-4.5,3.2c-0.2,0.2-0.2,0.6-0.1,0.8l0.8,1.5l-5,3.4C0.1,41.3,0,41.5,0,41.8s0.2,0.5,0.4,0.6l4.1,2.3v4.5 c0,0.3,0.1,0.5,0.4,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l8.2-4.8c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0 c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0 c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0 c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0-0.1,0-0.1L13,42c0.6-0.3,1.3-0.6,2.1-0.9c2.7,2.8,5.9,4.9,9.6,6.4c0.1,0,0.2,0.1,0.3,0.1 c0.1,0,0.2,0,0.3-0.1c3.7-1.5,6.9-3.6,9.6-6.4c0.8,0.3,1.5,0.6,2.1,0.9l-1,2.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0.1,0,0.1 c0,0,0,0,0,0c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0 c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0 c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0l8.2,4.8c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1c0.2-0.1,0.4-0.4,0.4-0.6v-4.5l4.1-2.3 c0.2-0.1,0.4-0.4,0.4-0.6C50.1,41.5,50,41.3,49.8,41.1z M6,47.9v-3.7c0-0.3-0.1-0.5-0.4-0.6l-3.4-1.9L6,39.1L8.6,44 c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0 c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0,0l2.1,0.4L6,47.9z M10.9,43.2C11,43.2,11,43.2,10.9,43.2 c0.1-0.1,0.1-0.1,0.2-0.1c0,0,0.1,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0.1,0 c0.1,0,0.1-0.1,0.2-0.1c0,0,0,0,0,0l0.4,0.7L10.9,43.2z M11.7,41C11.7,41,11.7,41,11.7,41C11.7,41,11.7,41,11.7,41 C11.7,41,11.7,41,11.7,41C11.7,41,11.7,41,11.7,41c-0.1,0-0.1,0.1-0.1,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0 c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.3,0.2c0,0,0,0,0,0c-0.1,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.6,0.4-1,0.7-1.3,1 l-2.4-4.6l-1-1.8c0.5-0.5,1.7-1.5,3.7-2.5c0.1,0.1,0.2,0.3,0.2,0.4c0,0.1,0.1,0.1,0.1,0.2c0.1,0.2,0.2,0.4,0.3,0.6 c0,0,0,0.1,0.1,0.1c0.8,1.4,1.6,2.7,2.6,3.9c0,0,0,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0,0.1,0.1,0.1,0.1 c0.1,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.2,0.2,0.3,0.4C13.2,40.2,12.4,40.6,11.7,41z M36.1,39.9C36.1,39.9,36.1,39.9,36.1,39.9 c0.1-0.1,0.1-0.2,0.2-0.2c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.2-0.2,0.3-0.3c0,0,0,0,0,0c0.5-0.6,0.9-1.1,1.3-1.7 c0.1-0.1,0.1-0.2,0.2-0.2c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.2,0.2-0.3,0.3-0.5 c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.2,0.2-0.4c0.1-0.1,0.2-0.3,0.2-0.4c0-0.1,0.1-0.2,0.1-0.2c0.1-0.2,0.2-0.4,0.3-0.6 c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0.1-0.1c2,1,3.2,2,3.7,2.5l-3.4,6.4c-0.3-0.3-0.8-0.6-1.3-1c0,0,0,0,0,0c0,0,0,0,0,0 c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c-0.1,0-0.2-0.1-0.2-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1 c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0C37.8,40.6,37,40.2,36.1,39.9z M38.2,43l0.1-0.3c0,0,0,0,0,0 c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0.1,0c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0,0.1,0.1 c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0.1,0L38,43.4L38.2,43z M44.6,43.6c-0.2,0.1-0.4,0.4-0.4,0.6v3.7l-5.3-3.1l2.1-0.4c0,0,0,0,0,0 c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0 c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0-0.1,0-0.1l2.6-4.9l3.9,2.6L44.6,43.6z"/>
									<path class="fill-primary" d="M40.3,11.8c0-0.3-0.3-0.6-0.7-0.7c-8.5-0.9-14.1-5.5-14.1-5.5c-0.3-0.2-0.7-0.2-0.9,0c-0.1,0-5.7,4.6-14.1,5.5 c-0.3,0-0.6,0.3-0.7,0.7c0,0.1-0.3,3.4,0.2,7.8c0.5,4.1,1.8,10,5.3,14.9c0.1,0.2,0.4,0.3,0.6,0.3c0.1,0,0.3,0,0.4-0.1 c0.3-0.2,0.4-0.7,0.2-1c-3.4-4.6-4.6-10.3-5-14.2c-0.4-3.2-0.3-5.8-0.2-7c7.3-0.9,12.3-4.3,13.8-5.4c1.5,1.1,6.6,4.5,13.8,5.4 c0.1,0.8,0.1,2.4,0,4.5c0,0.4,0.3,0.8,0.7,0.8c0.4,0,0.8-0.3,0.8-0.7C40.5,14,40.3,11.9,40.3,11.8z"/>
									<path class="fill-primary" d="M39.5,19.4c-0.4-0.1-0.8,0.2-0.8,0.6C37,32.9,30.4,38.3,25.1,40.5c-2.6-1.1-4.9-2.6-6.7-4.6c-0.3-0.3-0.7-0.3-1,0 c-0.3,0.3-0.3,0.7,0,1c2.1,2.2,4.6,3.9,7.5,5c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1c4.7-1.9,8.4-5.2,11-9.7 c1.9-3.4,3.2-7.4,3.7-12C40.1,19.8,39.9,19.4,39.5,19.4z"/>
									<path class="fill-primary" d="M33.3,17.6c-1-1-2.6-1-3.6,0l-6.5,6.5l-2.4-2.4c-1-1-2.6-1-3.6,0c-1,1-1,2.6,0,3.6l4.2,4.2 c0.5,0.5,1.1,0.8,1.8,0.8c0.7,0,1.3-0.3,1.8-0.8l8.4-8.4C34.3,20.2,34.3,18.6,33.3,17.6z M32.2,20.2l-8.4,8.4 c-0.2,0.2-0.5,0.3-0.8,0.3s-0.6-0.1-0.8-0.3l-4.2-4.2c-0.4-0.4-0.4-1.1,0-1.6c0.2-0.2,0.5-0.3,0.8-0.3c0.3,0,0.6,0.1,0.8,0.3 l2.9,2.9c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2l7.1-7.1c0.4-0.4,1.1-0.4,1.6,0C32.7,19,32.7,19.7,32.2,20.2z"/>
								</svg>
							</figure>
							<div class="ms-3">
								<h5 class="mb-2">Quality Guarantee</h5>
								<p class="mb-0">Experience top-tier experiences with our commitment to excellence and customer satisfaction.</p>
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="col-sm-6">
						<div class="d-flex">
							<!-- Svg icon -->
							<figure>
								<svg width="49.3px" height="56.1px" viewBox="0 0 49.3 56.1" style="enable-background:new 0 0 49.3 56.1;" xml:space="preserve">
									<path class="fill-primary" d="M25.3,30.7c-0.1,0-0.2,0-0.3,0c-1.1-0.1-1.8-1-1.8-2.1c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9c0,1.8,1.2,3.3,2.9,3.8 v0.9c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9v-0.9c2-0.4,3.3-2.2,3.1-4.2c-0.2-2-1.9-3.5-3.9-3.5c-1.2,0-2.1-0.9-2.1-2.1 s0.9-2.1,2.1-2.1c1.2,0,2.1,0.9,2.1,2.1c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9c0-1.9-1.3-3.5-3.1-3.8v-0.8 c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9v0.9c-1.9,0.5-3.1,2.4-2.9,4.3c0.3,1.9,1.9,3.4,3.9,3.4c1.1,0,2.1,0.9,2.1,2 C27.3,29.7,26.5,30.6,25.3,30.7z"/>
									<path class="fill-primary" d="M11.9,25.7c0,7.4,6,13.3,13.3,13.3s13.3-6,13.3-13.3s-6-13.3-13.3-13.3C17.9,12.3,11.9,18.3,11.9,25.7z M25.2,14.2 c6.3,0,11.5,5.1,11.5,11.5s-5.1,11.5-11.5,11.5S13.8,32,13.8,25.7C13.8,19.3,18.9,14.2,25.2,14.2z"/>
									<path class="fill-primary" d="M43.1,41.2l-7.2,3.4c-1-1.8-2.9-3-5-3.1l-6.6-0.2c-1.1,0-2.1-0.3-3-0.8l-0.7-0.4c-3.5-1.8-7.6-1.8-11,0l0-1.5 c0-0.5-0.4-0.9-0.9-0.9l-7.3-0.2c-0.5,0-0.9,0.4-0.9,0.9L0,54.5c0,0.5,0.4,0.9,0.9,0.9l7.3,0.2h0c0.5,0,0.9-0.4,0.9-0.9l0-0.8l1.9-1 c0.7-0.4,1.6-0.5,2.4-0.3l11.3,3.2c0,0,0,0,0.1,0c0.8,0.2,1.6,0.3,2.5,0.3c1.8,0,3.5-0.4,5.1-1.1c0,0,0.1,0,0.1-0.1l16.4-10.6 c0.4-0.3,0.5-0.8,0.3-1.2C48,41,45.3,40.1,43.1,41.2z M1.9,53.6l0.4-14.1l5.4,0.1L7.3,53.7L1.9,53.6z M31.6,53.4 c-2,0.9-4.2,1.1-6.4,0.7L14,50.9c-1.3-0.4-2.6-0.2-3.8,0.4l-1,0.5l0.3-9.4c3.1-2,7-2.2,10.3-0.5l0.7,0.4c1.2,0.6,2.5,0.9,3.8,1 l6.6,0.2c1.9,0.1,3.5,1.4,3.8,3.2l-9.9-0.3c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9l10.9,0.3h0c0.5,0,0.9-0.4,0.9-0.9 c0-0.4,0-0.8-0.1-1.2l7.4-3.5c0,0,0,0,0,0c1-0.5,2.3-0.4,3.2,0.4L31.6,53.4z"/>
									<path class="fill-primary" d="M26.2,9.8V1c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v8.7c0,0.5,0.4,0.9,0.9,0.9C25.7,10.7,26.2,10.3,26.2,9.8z"/>
									<path class="fill-primary" d="M33.1,9.8V5.6c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v4.1c0,0.5,0.4,0.9,0.9,0.9C32.6,10.7,33.1,10.3,33.1,9.8z"/>
									<path class="fill-primary" d="M19.3,9.8V5.6c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9v4.1c0,0.5,0.4,0.9,0.9,0.9S19.3,10.3,19.3,9.8z"/>
								</svg>
							</figure>
							<div class="ms-3">
								<h5 class="mb-2">No Booking Fee</h5>
								<p class="mb-0">Enjoy hassle-free planning with no hidden costs or booking fees.</p>
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="col-sm-6">
						<div class="d-flex">
							<!-- Svg icon -->
							<figure>
								<svg width="50.5px" height="44.2px" viewBox="0 0 50.5 44.2" style="enable-background:new 0 0 50.5 44.2;" xml:space="preserve">
									<path class="fill-primary" d="M39.2,34.7c-1,0-0.8-1.2-0.8-2c0-1,1.6-1,1.6,0C40,33.5,40.2,34.7,39.2,34.7z M28.5,29.8H4.3 C2,29.8,0,27.9,0,25.5V4.3C0,1.9,2,0,4.3,0h36c2.4,0,4.3,1.9,4.3,4.3v16.1c1.3,0.5,3,1,5.1,1.3c0.3,0.1,0.6,0.3,0.7,0.7 c0,0.1,2,15.5-10.7,21.8c-0.2,0.1-0.5,0.1-0.7,0C32,40.7,29.4,34.7,28.5,29.8z M43.6,21.6c-0.1,0-0.1,0-0.2-0.1 c-2.2-1-3.5-2.2-4.2-3.1c-1.1,1.4-3.7,3.6-9.6,4.6c-0.2,2.7-0.4,14.2,9.6,19.4c10.1-5.2,9.8-16.7,9.6-19.4 C46.7,22.8,44.9,22.2,43.6,21.6z M43,19.6v-5.7H1.6v11.6c0,1.5,1.2,2.7,2.7,2.7h23.9c-0.4-3.3-0.1-5.8-0.1-5.9 c0.1-0.4,0.3-0.6,0.7-0.7c8.5-1.3,9.6-5,9.6-5c0.2-0.8,1.3-0.8,1.5,0C40,16.7,40.5,18.2,43,19.6z M43,12.3V8.1H1.6v4.2H43z M43,6.5 V4.3c0-1.5-1.2-2.7-2.7-2.7h-36c-1.5,0-2.7,1.2-2.7,2.7v2.2H43z M10.2,19.3H5.7c-1,0-1-1.6,0-1.6h4.5 C11.3,17.7,11.3,19.3,10.2,19.3z M18,19.3h-4.6c-1,0-1-1.6,0-1.6H18C19,17.7,19,19.3,18,19.3z M18,24.4H5.7c-1,0-1-1.6,0-1.6H18 C19,22.8,19,24.4,18,24.4z M39.2,38c-2.8,0-5.1-2.3-5.1-5.1v-4.3c0-1,1.1-0.8,1.8-0.8v-2.2c0-4.3,6.6-4.3,6.6,0v2.2 c0.7,0,1.9-0.2,1.9,0.8v4.3C44.4,35.7,42.1,38,39.2,38z M37.6,27.7H41v-2.2c0-2.2-3.4-2.2-3.4,0V27.7z M35.7,29.3v3.5 c0,2,1.6,3.5,3.5,3.5c2,0,3.5-1.6,3.5-3.5v-3.5H35.7z"/>
								</svg>
							</figure>
							<div class="ms-3">
								<h5 class="mb-2">Secure Payment</h5>
								<p class="mb-0">Trust in our secure connection system for safe and reliable transactions.</p>
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="col-sm-6">
						<div class="d-flex">
							<!-- Svg icon -->
							<figure>
								<svg width="52px" height="58.3px" viewBox="0 0 52 58.3" style="enable-background:new 0 0 52 58.3;" xml:space="preserve">
									<path class="fill-primary" d="M50.8,26.2C49.2,13.7,38.7,4.2,26.1,4l1.7-1.7c0.5-0.5,0.5-1.4,0-1.9s-1.4-0.5-1.9,0c0,0,0,0,0,0l-4.2,4.2 c-0.5,0.5-0.5,1.4,0,1.9c0,0,0,0,0,0l4.2,4.3c0.5,0.5,1.4,0.5,1.9,0c0.5-0.5,0.5-1.4,0-1.9c0,0,0,0,0,0l-2.2-2.2 c12.5,0,22.7,10.2,22.7,22.7c0,6.9-3.1,13.4-8.5,17.7c-0.6,0.5-0.7,1.3-0.2,1.9s1.3,0.7,1.9,0.2l0,0C48.4,43.6,51.9,35,50.8,26.2 L50.8,26.2z"/>
									<path class="fill-primary" d="M25.4,48c-0.5-0.5-1.4-0.5-1.9,0c-0.5,0.5-0.5,1.4,0,1.9c0,0,0,0,0,0l2.2,2.2C13.1,52,3,41.9,3,29.3 c0-6.9,3.1-13.4,8.5-17.7c0.6-0.5,0.7-1.3,0.2-1.9c-0.5-0.6-1.3-0.7-1.9-0.2l0,0c-6.9,5.6-10.4,14.1-9.3,23 c1.6,12.5,12.1,22,24.7,22.2l-1.7,1.7c-0.5,0.5-0.5,1.4,0,1.9c0.5,0.5,1.4,0.5,1.9,0c0,0,0,0,0,0l4.2-4.2c0.5-0.5,0.5-1.4,0-1.9 c0,0,0,0,0,0L25.4,48z"/>
									<path class="fill-primary" d="M26.7,28.3c-0.2-0.1-0.4-0.1-0.5-0.2c-0.2-0.1-0.4-0.2-0.6-0.2c-1.3-0.5-1.9-0.9-1.9-1.5c0-0.3,0.3-0.7,0.9-1 c0.4-0.2,1.8-0.8,3.7,0.6c0.6,0.4,1.4,0.3,1.9-0.3c0.4-0.6,0.3-1.4-0.3-1.9c0,0,0,0,0,0c-0.8-0.6-1.8-1-2.8-1.3v-1.2 c0-0.7-0.6-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3v1.3c-0.3,0.1-0.7,0.2-1,0.4c-1.4,0.7-2.3,2-2.3,3.4c0,2.6,2.5,3.5,3.7,4 c0.2,0.1,0.3,0.1,0.5,0.2c0.2,0.1,0.4,0.2,0.6,0.3c1.3,0.5,1.9,0.8,1.9,1.5c0,0.3-0.3,0.7-0.9,1c-0.4,0.2-1.8,0.8-3.7-0.6 c-0.6-0.4-1.4-0.3-1.9,0.3c-0.4,0.6-0.3,1.4,0.3,1.9c0.8,0.6,1.8,1.1,2.8,1.3v1.3c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3V36 c0.3-0.1,0.7-0.2,1-0.4c1.4-0.7,2.3-2,2.3-3.4C30.3,29.7,28,28.8,26.7,28.3L26.7,28.3z"/>
									<path class="fill-primary" d="M25.7,14.7c-8.1,0-14.7,6.6-14.7,14.7S17.6,44,25.7,44s14.7-6.6,14.7-14.7l0,0C40.3,21.3,33.8,14.7,25.7,14.7L25.7,14.7z  M25.7,41.4c-6.6,0-12-5.4-12-12s5.4-12,12-12s12,5.4,12,12C37.7,36,32.3,41.4,25.7,41.4z"/>
								</svg>
							</figure>
							<div class="ms-3">
								<h5 class="mb-2">Cashback	 Guarantee</h5>
								<p class="mb-0">Benefit from our Cashback, ensuring value and peace of mind on your purchases.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Features END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
About END -->

  <div class="mt-5 w-100">
      <!-- Three columns of text below the carousel -->
    <div class="mt-4">
      <div class="carrossel-home row pt-5 bg-light w-100">
        <div class="col-lg-4 d-flex flex-column align-items-center">
          <div>
            <%= image_tag "https://img.freepik.com/fotos-gratis/contacao-de-historias-de-viagem-de-casal_52683-102408.jpg", class: "bd-placeholder-img rounded-circle", width: 170, height: 170, alt: "Placeholder" %>
          </div>
          <h2 class="fw-normal mt-3">Excursions</h2>
          <p class="paragraph-home">Explore diverse destinations with our guided excursions. Experience captivating city tours, serene nature trails, and rich cultural landmarks, all tailored for an enriching travel adventure.</p>
          <p><%= link_to 'More info »', lawyers_path(anchor: 'excursions'), class: 'btn btn-secondary' %></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4 d-flex flex-column align-items-center">
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF9FnooKdnD3MvfxG49a0fzkLjexl9s0uwM4JUyX4uQ6KdahXn28yJEpKqksJ7r80h3G4&usqp=CAU", class: "bd-placeholder-img rounded-circle", width: 170, height: 170, alt: "Placeholder" %>
            <h2 class="fw-normal mt-3">Gastronomy</h2>
            <p class="paragraph-home">Embark on a culinary journey with our gastronomy tours. Guided by local experts, these tours offer a taste of regional flavors and culinary traditions, ensuring a memorable dining experience.</p>
            <p><%= link_to 'More info »', lawyers_path(anchor: 'gastronomy'), class: 'btn btn-secondary' %></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 d-flex flex-column align-items-center">
          <%= image_tag "https://img.freepik.com/fotos-premium/conceito-de-negocios-e-empreendedorismo-palestrante-dando-uma-palestra-na-sala-de-conferencias-em-evento-de-negocios-publico-na-sala-de-conferencias-concentre-se-em-pessoas-irreconheciveis_386094-61.jpg", class: "bd-placeholder-img rounded-circle", width: 170, height: 170, alt: "Placeholder" %>
          <h2 class="fw-normal mt-3">Workshops</h2>
          <p class="paragraph-home">Join our skill-enhancing workshops led by local experts. Covering a range of topics from tech to arts, these sessions are designed to foster both personal and professional development.</p>
          <p><%= link_to 'More info »', lawyers_path(anchor: 'workshops'), class: 'btn btn-secondary' %></p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.container -->

  </div><!-- /.container -->
</div>

    <!-- START THE FEATURETTES    MAPA-->

    <%# <hr class="featurette-divider">

    <div class="row featurette pt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Why choosing MyWelcome? <span class="text-body-secondary"></span></h2>
        <p class="lead">At MyWelcome we offer unique experiences worldwide. We are a community of locals and travelers who share a passion for travel and a desire to connect with each other. We are a certified company and we are committed to sustainable tourism.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

      </div>
    </div> %>

    <!-- /END THE FEATURETTES -->
</main>

<%# <script>
  $(document).ready(function(){
    $('#datepicker').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      todayHighlight: true
    });
  });
</script> %>

<%# <script>
  // Texto que será "digitado"
  var text = "CONEXÃO\nADVOGADOS";
  var index = 0;

  function WriteText() {
    if (index < text.length) {
      var textPartial = text.substring(0, index + 1).replace(/\n/g, "<br>").trim();
      document.getElementById("dynamic-text").innerHTML = textPartial;
      index++;
      setTimeout(WriteText, 200); // Tempo entre cada letra (200ms)
    }
  }

  // Chama a função ao carregar a página
  WriteText();
</script> %>
<%#
<style>
  #dynamic-text {
    font-size: 56px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #3E769B;
    color: #FFFFFF;
  }
</style> %>

<!--
<div id="app">
  <div class="col-4 col-md-3 d-flex flex-column justify-content-center">
    <label for="group-select">Tipo de atendimento</label>
    <div class="form-border-bottom form-control-transparent form-fs-lg m-1">
      <select v-model="selectedGroups" multiple size="3" class="form-control" id="group-select">
        <option v-for="group in groups" :value="group">{{ group }}</option>
      </select>
    </div>
  </div>

  <div class="col-4 col-md-3 d-flex flex-column justify-content-center">
    <label for="category-select">Especialidade</label>
    <div class="form-border-bottom form-control-transparent form-fs-lg m-1">
      <select v-model="selectedCategories" multiple size="5" class="form-control" id="category-select">
        <option v-for="category in categories" :value="category">{{ category }}</option>
      </select>
    </div>
  </div>

Button
  <div class='col-4 col-md-3 d-flex flex-column justify-content-center'>
    <button @click="searchLawyers" class='btn btn-custom w-100'>Procurar</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script>
new Vue({
  el: '#app',
  data: {
    selectedGroups: [],
    selectedCategories: [],
    groups: ["Advocacia", "Consultoria", "Correspondente"],
    categories: [
      "Direito de Família e Sucessões", "Direito Administrativo", "Direito Contratual",
      "Direito Imobiliário", "Direito do Consumidor", "Direito Tributário",
      "Direito Penal", "Direito Empresarial", "Direito Ambiental",
      "Direito Desportivo", "Direito Digital", "Direito da Propriedade Intelectual",
      "Direito Trabalhista e Previdenciário", "Direito Extrajudicial", "Direito Marítimo"
    ]
  },
  methods: {
    searchLawyers() {
      const queryParams = {
        group: this.selectedGroups.join(','),
        category: this.selectedCategories.join(',')
      };
      const queryString = Object.keys(queryParams).map(key => key + '=' + queryParams[key]).join('&');
      window.location.href = '/lawyers?' + queryString;
    }
  }
});
</script>
-->
<!-- <%#= form_with url: lawyers_path, method: :get, local: true, class: 'bg-white shadow rounded-3 p-4' do |form| %> -->
  <%# <div class="row">
    <div class="col-3 d-flex flex-column justify-content-center d-none d-md-block">
      <h3 class="u-text-color-navy hero-heading text-left text-black"> Encontre o seu advogado online. </h3>
    </div> %>

    <!-- Group dropdown -->
    <%# <div class="col-6 col-md-5 d-flex flex-column justify-content-center">
      <div class="form-border-bottom form-control-transparent form-fs-lg m-1">
        <select id="group-select" class="form-control" name="group">
          <option value="" disabled selected>Tipo de atendimento</option>
          <option value="Advocacia">Advocacia</option>
          <option value="Consultoria">Consultoria</option>
          <option value="Correspondente">Correspondente</option>
        </select>
      </div>
    </div> %>

    <!-- Button -->
    <!-- <%#= <div class="col-3 col-md-4 d-flex flex-column justify-content-center"> %> -->
      <!-- <%#= form.submit 'Procuar', class: 'btn btn-custom w-100' %> -->
    <!-- <%#= </div> %> -->
  <%# </div> %>

<!-- <%#= end %> -->
<%# </div> %>

<script>
  // document.addEventListener("DOMContentLoaded", function() {
  //   var select = document.getElementById("group-select");
  //   var options = select.getElementsByTagName("option");

  //   for (var i = 0; i < options.length; i++) {
  //       var option = options[i];
  //       if (!option.disabled) {
  //           option.innerHTML = "<strong>" + option.innerHTML + "</strong>";
  //       }
  //   }
  // });

  // document.addEventListener("DOMContentLoaded", function() {
  //   var select = document.getElementById("group-select");
  //   var options = select.getElementsByTagName("option");

  //   for (var i = 0; i < options.length; i++) {
  //       var option = options[i];
  //       if (!option.disabled) {
  //           option.innerHTML = "<h5>" + option.innerHTML + "</h5>";
  //       }
  //   }
  // });
  // document.addEventListener('DOMContentLoaded', function() {
  //   var options = document.querySelectorAll('.option-bold');
  //   options.forEach(function(option) {
  //       option.style.fontWeight = 'bold';
  //   });
  // });

  document.addEventListener('DOMContentLoaded', function() {
    var defaultOption = document.querySelector('defaultOption');
    defaultOption.style.fontWeight = 'bold';
    defaultOption.style.color = 'black';
  });

  document.addEventListener('DOMContentLoaded', function() {
    var groupSelect = document.getElementById('group-select');

    groupSelect.addEventListener('click', function() {
      if (this.value !== '') {
        this.form.submit();
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    var defaultOption = document.getElementById('default-option');
    var groupSelect = document.getElementById('group-select');

  groupSelect.addEventListener('mousedown', function() {
      defaultOption.style.display = 'none';
    });
  });
</script>

<style>
  .option-h5 {
    font-size: 1.25rem; /* tamanho de fonte desejado */
    font-weight: bold; /* negrito */
    /* adicione outros estilos conforme necessário */
  }

  .ml-5 h4, .text-color-yellow h4 {
      font-family: Alta, sans-serif;
  }

</style>
