<%# Web Browser %>
<section class="pt-0">
<div class="bg-home">

	<div class="container position-relative">
		<!-- Bg image -->
		<div class="rounded-3 p-4 p-sm-5" >
			<!-- Banner title -->
        <div class="row justify-content-center align-items-center min-vh-60">
				<div class="col-md-7 col-lg-8 col-xxl-7 pb-5 mb-0 mb-lg-5">
					<h1 class="text-white">Life is an Adventure. Make the best of it.</h1>
					<p class="text-white mb-0">Planning for a trip? We will organize your best trip with the best destination and within the best budgets!</p>
				</div>

			</div>
		</div>

		<!-- Search START -->

  <%= form_with url: experiences_path, method: :get, local: true, class: 'bg-white shadow rounded-3 p-4' do |form| %>
    <div class="row">

      <!--Location -->
      <div class="col-3">
        <%= form.label :location, class: 'h6 fw-normal mb-0' do %>
          <i class="bi bi-geo-alt"></i>Location
        <% end %>
        <div class="form-border-bottom form-control-transparent form-fs-lg mt-2">
          <%= form.select :location, ['São Paulo', 'Rio de Janeiro', 'Fortaleza'], { prompt: 'Select location' }, { class: 'form-select js-choice', data: { search_enabled: 'true' } } %>
        </div>
      </div>

      <!-- Check in -->
      <div class="col-3">
  <%= form.label :date, class: 'h6 fw-normal mb-0' do %>
    <i class="bi bi-calendar"></i>Date
  <% end %>
  <div class="form-border-bottom form-control-transparent form-fs-lg mt-2">
    <%= form.text_field :date, id: 'datepicker', class: 'form-control py-2', placeholder: 'Choose a date' %>
  </div>
</div>


      <!-- Guest -->
      <div class="col-3">
        <%= form.label :category, 'Tour type', class: 'h6 fw-normal mt-2' %>
        <div class="form-border-bottom form-control-transparent form-fs-lg">
          <%= form.select :category, ['Gastronomy', 'Excursion', 'Workshop'], { prompt: 'Select type' }, { class: 'form-select js-choice', data: { search_enabled: 'true' } } %>
        </div>
      </div>

      <!-- Button -->
      <div class="col-3 align-self-end">
        <%= form.submit 'Take a Tour', class: 'btn btn-dark w-100' %>
      </div>

    </div>
  <% end %>
  </div>


</div>



  <div class="container mt-5">
      <!-- Three columns of text below the carousel -->
    <div class="container mt-4">
      <div class="row pt-5 bg-light w-100">
        <div class="col-lg-4">
          <div>
            <%= image_tag "https://img.freepik.com/fotos-gratis/contacao-de-historias-de-viagem-de-casal_52683-102408.jpg", class: "bd-placeholder-img rounded-circle", width: 170, height: 170, alt: "Placeholder" %>
          </div>
          <h2 class="fw-normal">Excursions</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><%= link_to 'More info »', experiences_path(anchor: 'excursions'), class: 'btn btn-secondary' %></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF9FnooKdnD3MvfxG49a0fzkLjexl9s0uwM4JUyX4uQ6KdahXn28yJEpKqksJ7r80h3G4&usqp=CAU", class: "bd-placeholder-img rounded-circle", width: 170, height: 170, alt: "Placeholder" %>
            <h2 class="fw-normal">Gastronomy</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><%= link_to 'More info »', experiences_path(anchor: 'gastronomy'), class: 'btn btn-secondary' %></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <%= image_tag "https://img.freepik.com/fotos-premium/conceito-de-negocios-e-empreendedorismo-palestrante-dando-uma-palestra-na-sala-de-conferencias-em-evento-de-negocios-publico-na-sala-de-conferencias-concentre-se-em-pessoas-irreconheciveis_386094-61.jpg", class: "bd-placeholder-img rounded-circle", width: 170, height: 170, alt: "Placeholder" %>
          <h2 class="fw-normal">Workshops</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><%= link_to 'More info »', experiences_path(anchor: 'workshops'), class: 'btn btn-secondary' %></p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.container -->

      </div><!-- /.container -->
      </div>

    <!-- START THE FEATURETTES    MAPA-->

    <%# <hr class="featurette-divider">

    <div class="row featurette pt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Why choosing MyWelcome? <span class="text-body-secondary"></span></h2>
        <p class="lead">At MyWelcome we offer unique experiences worldwide. We are a community of locals and travelers who share a passion for travel and a desire to connect with each other. We are a certified company and we are committed to sustainable tourism.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

      </div>
    </div> %>

    <!-- /END THE FEATURETTES -->
</main>

<script>
  $(document).ready(function(){
    $('#datepicker').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      todayHighlight: true
    });
  });
</script>
