<!DOCTYPE html>
<html lang="en">
<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')

		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})

	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" link_to"assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" link_to"https://fonts.googleapis.com">
	<link rel="preconnect" link_to"https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" link_to"https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" link_to"assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" link_to"assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" link_to"assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" link_to"assets/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" link_to"assets/vendor/flatpickr/css/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" link_to"assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" link_to"assets/css/style.css">

</head>

<!-- Header START -->
<header class="header-transparent">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-dark navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="<%= root_path %>">
				<img class="navbar-brand-item" src="<%= asset_path('logo-light.svg') %>" alt="logo">
			</a>
			<!-- Logo END -->

      <!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto me-3 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll mx-auto">

					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<%= link_to "Listings", "#", class: "nav-link dropdown-toggle", id: "listingMenu", 'data-bs-toggle' => "dropdown", 'aria-haspopup' => true, 'aria-expanded' => false %>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<%= link_to "Hotel", "#", class: "dropdown-item dropdown-toggle" %>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li><%= link_to "Hotel Home", root_path, class: "dropdown-item" %></li>
									<!-- More links -->
								</ul>
							</li>

							<!-- More submenus -->

						</ul>
					</li>

				</ul>
			</div>
			<!-- Main navbar END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" link_to"#">Hero</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" link_to"hero-inline-form.html">Hero Inline Form</a></li>
									<li> <a class="dropdown-item" link_to"hero-multiple-search.html">Hero Multiple Search</a></li>
									<li> <a class="dropdown-item" link_to"hero-image-gallery.html">Hero Image Gallery</a></li>
									<li> <a class="dropdown-item" link_to"hero-split.html">Hero Split</a></li>
								</ul>
							</li>

							<li> <a class="dropdown-item" link_to"booking-confirm.html">Booking Confirmed</a></li>
							<li> <a class="dropdown-item" link_to"compare-listing.html">Compare Listing</a></li>
							<li> <a class="dropdown-item" link_to"offer-detail.html">Offer Detail</a></li>
						</ul>
					</li>

					<!-- Nav item Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" link_to"#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">

							<li> <a class="dropdown-item" link_to"about.html">About</a></li>
							<li> <a class="dropdown-item" link_to"contact.html">Contact</a></li>
							<li> <a class="dropdown-item" link_to"contact-2.html">Contact 2</a></li>
							<li> <a class="dropdown-item" link_to"team.html">Our Team</a></li>

							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" link_to"#">Authentication</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" link_to"sign-in.html">Sign In</a></li>
									<li> <a class="dropdown-item" link_to"sign-up.html">Sign Up</a></li>
									<li> <a class="dropdown-item" link_to"forgot-password.html">Forgot Password</a></li>
									<li> <a class="dropdown-item" link_to"two-factor-auth.html">Two factor authentication</a></li>
								</ul>
							</li>

							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" link_to"#">Blog</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" link_to"blog.html">Blog</a></li>
									<li> <a class="dropdown-item" link_to"blog-detail.html">Blog Detail</a></li>
								</ul>
							</li>

<!-- Dropdown submenu -->
<li class="dropdown-submenu dropend">
  <%= link_to "Hero", "#", class: "dropdown-item dropdown-toggle" %>
  <ul class="dropdown-menu" data-bs-popper="none">
    <li><%= link_to "Hero Inline Form", hero_inline_form_path, class: "dropdown-item" %></li>
    <li><%= link_to "Hero Multiple Search", hero_multiple_search_path, class: "dropdown-item" %></li>
    <li><%= link_to "Hero Image Gallery", hero_image_gallery_path, class: "dropdown-item" %></li>
    <li><%= link_to "Hero Split", hero_split_path, class: "dropdown-item" %></li>
  </ul>
</li>

<li><%= link_to "Booking Confirmed", booking_confirm_path, class: "dropdown-item" %></li>
<li><%= link_to "Compare Listing", compare_listing_path, class: "dropdown-item" %></li>
<li><%= link_to "Offer Detail", offer_detail_path, class: "dropdown-item" %></li>

							<!-- Card footer -->
							<div class="card-footer bg-transparent text-center border-top">
								<a link_to"#" class="btn btn-sm btn-link mb-0 p-0">See all incoming activity</a>
							</div>
						</div>
					</div>
					<!-- Notification dropdown menu END -->
				</li>
				<!-- Notification dropdown END -->

				<!-- Dark mode options START -->
				<li class="nav-item dropdown ms-3">
					<button class="nav-notification btn btn-light lh-0 p-0 mb-0" id="bd-theme"
					type="button"
					aria-expanded="false"
					data-bs-toggle="dropdown"
					data-bs-display="static">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw theme-icon-active" viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
							<use link_to"#"></use>
						</svg>
					</button>

					<ul class="dropdown-menu min-w-auto dropdown-menu-end" aria-labelledby="bd-theme">
						<li class="mb-1">
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
								<svg width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
									<path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
									<use link_to"#"></use>
								</svg>Light
							</button>
						</li>
						<li class="mb-1">
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
									<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
									<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
									<use link_to"#"></use>
								</svg>Dark
							</button>
						</li>
						<li>
							<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
									<use link_to"#"></use>
								</svg>Auto
							</button>
						</li>
					</ul>
				</li>
				<!-- Dark mode options END -->

				<!-- Profile dropdown START -->
				<li class="nav-item ms-3 dropdown">
					<!-- Avatar -->
					<a class="avatar avatar-sm p-0" link_to"#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-2" src="assets/images/avatar/01.jpg" alt="avatar">
					</a>

					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" src="assets/images/avatar/01.jpg" alt="avatar">
								</div>
								<div>
									<a class="h6 mt-2 mt-sm-0" link_to"#">Lori Ferguson</a>
									<p class="small m-0">example@gmail.com</p>
								</div>
							</div>
						</li>

						<!-- Links -->
						<li> <hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" link_to"#"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
						<li><a class="dropdown-item" link_to"#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li>
						<li><a class="dropdown-item" link_to"#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
						<li><a class="dropdown-item" link_to"#"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li>
						<li><a class="dropdown-item bg-danger-soft-hover" link_to"#"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
					</ul>
				</li>
				<!-- Profile dropdown END -->
			</ul>
      <!-- Main navbar END -->

			<!-- Profile and Notification START -->
<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

  <!-- Notification dropdown -->
  <li class="nav-item dropdown ms-0 ms-md-3">

    <%= link_to "#", class: "nav-notification btn btn-light p-0 mb-0", role: "button", 'data-bs-toggle' => "dropdown", 'aria-expanded' => "false", 'data-bs-auto-close' => "outside" do %>
      <i class="bi bi-bell fa-fw"></i>
    <% end %>

    <span class="notif-badge animation-blink"></span>

    <div class="dropdown-menu dropdown-menu-end p-0">
      <!-- Notification content -->
    </div>

  </li>

  <!-- Dark mode toggle -->
  <li class="nav-item dropdown ms-3">

    <button id="themeToggle" class="theme-toggle-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= inline_svg_tag 'moon.svg', class: 'light-icon' %>
      <%= inline_svg_tag 'sunny.svg', class: 'dark-icon' %>
    </button>

    <ul class="dropdown-menu dropdown-menu-end">
      <li><%= link_to "Light Mode", light_mode_path %></li>
      <li><%= link_to "Dark Mode", dark_mode_path %></li>
    </ul>

  </li>

  <!-- Profile dropdown -->
  <li class="nav-item ms-3 dropdown">

    <%= link_to profile_path, class: "avatar avatar-sm p-0", id: "profileDropdown", role: "button", 'data-bs-toggle' => "dropdown", 'aria-expanded' => "false" do %>
      <%= image_tag 'avatar.png', class: 'avatar-img rounded-2' %>
    <% end %>

    <ul class="dropdown-menu dropdown-menu-end shadow">
      <!-- Profile content -->
    </ul>

  </li>

</ul>
						<!-- Slider item -->
						<div>
							<div class="card card-body bg-light text-center align-items-center">
								<!-- Icon -->
								<div class="icon-xl bg-mode rounded-circle mb-3">
									<figure>
										<svg width="43.4px" height="51px" viewBox="0 0 43.4 51" style="enable-background:new 0 0 43.4 51;" xml:space="preserve">
											<path class="fill-mode-inverse" d="M10.5,45.4L10.5,45.4c0.8,0,1.4-0.6,1.4-1.4V31.4c0-0.7-0.6-1.4-1.4-1.4h-0.1c-0.7,0-1.4,0.6-1.4,1.4v12.7 C9.2,44.8,9.8,45.4,10.5,45.4z M10.3,31.4c0-0.1,0.1-0.2,0.2-0.2h0.1c0.1,0,0.2,0.1,0.2,0.2v12.7c0,0.1-0.1,0.2-0.2,0.2h-0.1 c-0.1,0-0.2-0.1-0.2-0.2V31.4z"/>
											<path class="fill-mode-inverse" d="M14.9,45.4L14.9,45.4c0.8,0,1.4-0.6,1.4-1.4V31.4c0-0.7-0.6-1.4-1.4-1.4h-0.1c-0.7,0-1.4,0.6-1.4,1.4v12.7 C13.5,44.8,14.1,45.4,14.9,45.4z M14.7,31.4c0-0.1,0.1-0.2,0.2-0.2h0.1c0.1,0,0.2,0.1,0.2,0.2v12.7c0,0.1-0.1,0.2-0.2,0.2h-0.1 c-0.1,0-0.2-0.1-0.2-0.2V31.4z"/>
											<path class="fill-primary" d="M2.1,47.6c0,1.9,1.5,3.4,3.4,3.4h10.1c1.9,0,3.4-1.5,3.4-3.4v-3h2.2c1.9,0,3.4-1.5,3.4-3.4v-9.5 c0-1.9-1.5-3.4-3.4-3.4H19v-0.9c0.8-0.4,1.4-1.3,1.4-2.3c0-1.1-0.7-2-1.7-2.4c0,0,0-0.1,0-0.1c0-1.2-1-2.1-2.1-2.1 c-0.2,0-0.4,0-0.6,0.1c-0.6-1.4-2-2.3-3.6-2.3c-1.5,0-2.8,0.8-3.4,2c-0.7-0.5-1.6-0.8-2.5-0.8c-1.6,0-3,0.9-3.7,2.3 c-1.5,0.2-2.6,1.4-2.6,3c0,1.6,1.3,3,3,3v-1.1c-1,0-1.9-0.8-1.9-1.9S2,22.6,3,22.6h0.4l0.2-0.3c0.6-1.2,1.7-1.9,2.9-1.9 c0.8,0,1.5,0.3,2,0.8c-0.1,0.3-0.1,0.6-0.1,0.9h1.1c0-1.6,1.3-2.8,2.8-2.8c1.2,0,2.2,0.7,2.7,1.8c-0.4,0.4-0.6,0.9-0.6,1.5 c0,0.5,0.2,1,0.6,1.4l0.8-0.7c-0.2-0.2-0.3-0.4-0.3-0.7c0-0.3,0.2-0.6,0.4-0.8c0.2-0.1,0.4-0.2,0.6-0.2c0.6,0,1,0.5,1,1 c0,0.1,0,0.2-0.1,0.4l-0.2,0.7l0.7,0.1c0.7,0.1,1.3,0.7,1.3,1.5c0,0.6-0.3,1.1-0.8,1.3H8.9c-1.2,0-2.2,1-2.2,2.2l0,7 c0,0.2-0.1,0.3-0.3,0.3H6.2c-0.2,0-0.3-0.1-0.3-0.3v-3.5c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4v6.8c0,0.3-0.2,0.5-0.5,0.5 S2,39.1,2,38.9V28.3H0.9v10.6c0,0.7,0.5,1.4,1.2,1.6C2.1,40.4,2.1,47.6,2.1,47.6z M21.2,29.3c1.3,0,2.3,1,2.3,2.3v9.5 c0,1.3-1,2.3-2.3,2.3H19v-1h2.1c0.7,0,1.4-0.6,1.4-1.4v-9.4c0-0.7-0.6-1.4-1.4-1.4H19v-1L21.2,29.3L21.2,29.3z M19,41.3v-9.9h2.1 c0.1,0,0.2,0.1,0.2,0.2v9.4c0,0.1-0.1,0.2-0.2,0.2L19,41.3L19,41.3z M4.2,38.9v-6.8c0-0.2,0.1-0.3,0.3-0.3c0.2,0,0.3,0.1,0.3,0.3 v3.5c0,0.8,0.6,1.4,1.4,1.4h0.2c0.8,0,1.4-0.6,1.4-1.4l0-7c0-0.6,0.5-1.1,1.1-1.1h9v0.7h0v3.2h0v9.9h0v3.2h0v2h-1.7v1.1h1.7 c0,1.2-1,2.2-2.3,2.2H5.5c-1.2,0-2.2-1-2.3-2.2h11.4v-1.1H3.2v-6.1C3.8,40.1,4.2,39.5,4.2,38.9z"/>
											<path class="fill-mode-inverse" d="M43.3,43.1L43.3,43.1l0-0.9h0V27.5h0c0-4.2-1-8.1-2.7-11.2l-1.2-2.1c-1.3-2.4-2-5.5-2.1-8.8l0-5.2h-5.7l0,5.2 c0,3.3-0.7,6.4-2.1,8.8l-1.2,2.1c-1.5,2.6-2.4,5.9-2.6,9.5l0,0v3.5c0,0.1,0,0.2-0.1,0.3v15.1h0l0,2.6c0,2.1,1.4,3.8,3.1,3.8l4.7,0 l6.6,0c1.7,0,3.1-1.7,3.1-3.8l0-2.4l0,0V43.1z M32.9,1.2h3.4l0,1.3h-3.4L32.9,1.2z M32.9,3.6h3.4l0,0.9h-3.4L32.9,3.6z M29.3,17.1 L29.3,17.1c0.1-0.1,0.2-0.3,0.3-0.4c0.1-0.2,0.2-0.5,0.3-0.7h0l0.7-1.3c1.4-2.5,2.1-5.6,2.2-9h3.4c0.1,3.3,0.8,6.5,2.2,9l0.7,1.3 h0c0.1,0.1,0.2,0.3,0.2,0.5c0,0,0,0,0,0c0,0.1,0.1,0.1,0.1,0.2c0.2,0.2,0.3,0.4,0.3,0.6c1.5,2.8,2.3,6.4,2.3,10.2H27.6l0,0 c0,0,0,0,0,0c-0.2,0-0.3-0.1-0.4-0.2C27,27.1,27,27,27,26.8l0,0C27.1,23.2,27.9,19.8,29.3,17.1z M42.2,43.1c0,0.2-0.1,0.3-0.2,0.3 l0,0H42c-0.1,0-0.2,0-0.3,0H31.2v1.1h11.1l0,2.6c0,1.5-0.9,2.7-2,2.7l-6.6,0l-4.7,0c-1.1,0-2-1.2-2-2.7l0-2.6h2.5v-1.1h-2.5l0-1.1 c0-0.3,0-0.5,0-0.7c0-0.1,0-0.1,0-0.2c0-0.2,0-0.3,0-0.4l0-9.7c0-0.4-0.1-0.9,0-1.3c0-0.1,0-0.2,0-0.2c0-0.1,0-0.1,0-0.2l0-1h0.2 c0,0,0,0,0.1,0h1.6c0,0,0,0,0.1,0h13.4l0,1.2h-2.4v1.1h2.4l0,10c0,0,0,0.1,0,0.1V43.1z"/>
										</svg>
									</figure>
								</div>
								<h6 class="mb-0"><a link_to"#" class="stretched-link">Bars</a></h6>
							</div>
						</div>

						<!-- Slider item -->
						<div>
							<div class="card card-body bg-light text-center align-items-center">
								<!-- Icon -->
								<div class="icon-xl bg-mode rounded-circle mb-3">
									<figure>
										<svg width="43.7px" height="38.7px" viewBox="0 0 43.7 38.7" style="enable-background:new 0 0 43.7 38.7;" xml:space="preserve">
											<path class="fill-mode-inverse" d="M43.2,12.5c-0.5-0.4-1.1-0.5-1.6-0.3c-0.5,0.2-0.9,0.7-1.1,1.1l-1.4,4.1l-2.1,3.1L36.2,21l0.1-0.2c0.4-0.9,0-1.9-0.8-2.3 c-0.8-0.4-1.7-0.2-2.2,0.5L30,23.1l-3.7,1.7c-2,0.9-3.4,2.9-3.7,5.1c0,0,0,0.1,0,0.1l0,3.7c-0.3,0-0.5,0.1-0.7,0.3 c-0.2-0.1-0.4-0.2-0.7-0.3l0-3.7c0,0,0-0.1,0-0.1c-0.3-2.2-1.7-4.1-3.7-5.1l-3.7-1.7L10.5,19C10,18.4,9,18.2,8.3,18.5 C7.4,19,7.1,20,7.4,20.9L7.5,21l-0.7-0.4l-2.1-3.1l-1.4-4.1c-0.2-0.5-0.6-0.9-1.1-1.1C1.6,12,1,12.1,0.6,12.5 c-0.5,0.4-0.7,1-0.5,1.6l1.1,4.9C1.4,20.4,2,21.7,2.9,23l1.3,1.9c0.9,1.3,2.1,2.4,3.5,3.3c0.1,0.1,0.3,0.2,0.4,0.3 c0.3,0.2,0.7,0.1,0.9-0.2c0.2-0.3,0.1-0.7-0.2-0.9c-0.1-0.1-0.3-0.2-0.4-0.3c-1.2-0.7-2.3-1.7-3.1-2.9l-1.3-1.9 c-0.8-1.1-1.3-2.3-1.6-3.6l-1.1-4.9c0-0.2,0.1-0.3,0.1-0.3c0,0,0.2-0.1,0.3-0.1c0.1,0,0.3,0.2,0.3,0.4L3.5,18c0,0.1,0,0.1,0.1,0.2 l2.2,3.3c0.1,0.1,0.1,0.1,0.2,0.2L8.4,23l0.7,1.4c0.1,0.2,0.3,0.3,0.6,0.3c0.1,0,0.2,0,0.3-0.1c0.3-0.2,0.4-0.5,0.3-0.9l-0.8-1.5 l-0.8-2c-0.1-0.3,0-0.6,0.3-0.7c0.2-0.1,0.5,0,0.7,0.2l3.4,4.2c0.1,0.1,0.1,0.1,0.2,0.2l3.8,1.7c1.6,0.7,2.8,2.3,3,4l0,3.6h-6.5 c-0.1-1.6-0.3-2.6-0.8-3.2c-0.4-0.5-0.8-0.9-1.3-1.4c-0.3-0.2-0.7-0.2-0.9,0.1c-0.2,0.3-0.2,0.7,0.1,0.9c0.4,0.4,0.8,0.8,1.1,1.2 c0.1,0.2,0.4,0.8,0.5,2.4H12c-0.8,0-1.5,0.7-1.5,1.5v2.3c0,0.8,0.7,1.5,1.5,1.5h9c0.3,0,0.6-0.1,0.9-0.3c0.2,0.2,0.6,0.3,0.9,0.3 h9c0.8,0,1.5-0.7,1.5-1.5v-2.3c0-0.8-0.7-1.5-1.5-1.5h-0.1c0.1-1.7,0.4-2.3,0.5-2.4c1-1.4,2.7-2.4,3.9-3.1 c1.4-0.8,2.6-1.9,3.5-3.3l1.3-1.9c0.9-1.2,1.5-2.6,1.8-4.1l1.1-4.9C43.8,13.5,43.6,12.9,43.2,12.5z M21.2,37.4 c0,0.1-0.1,0.2-0.2,0.2h-9c-0.1,0-0.2-0.1-0.2-0.2v-2.3c0-0.1,0.1-0.2,0.2-0.2h9c0.1,0,0.2,0.1,0.2,0.2V37.4z M31.7,34.9 c0.1,0,0.2,0.1,0.2,0.2v2.3c0,0.1-0.1,0.2-0.2,0.2h-9c-0.1,0-0.2-0.1-0.2-0.2v-2.3c0-0.1,0.1-0.2,0.2-0.2H31.7z M42.5,13.8 l-1.1,4.9c-0.3,1.3-0.8,2.5-1.6,3.6l-1.3,1.9c-0.8,1.2-1.9,2.2-3.1,2.9c-1.3,0.7-3.1,1.9-4.2,3.4c-0.5,0.6-0.7,1.7-0.8,3.2h-6.5 l0-3.6c0.2-1.8,1.4-3.3,3-4l3.8-1.7c0.1,0,0.2-0.1,0.2-0.2l3.4-4.2c0.2-0.2,0.5-0.3,0.7-0.2c0.3,0.1,0.4,0.4,0.3,0.7l-0.8,2 l-0.8,1.5c-0.2,0.3,0,0.7,0.3,0.9c0.1,0.1,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.6-0.3l0.7-1.4l2.4-1.4c0.1,0,0.1-0.1,0.2-0.2l2.2-3.3 c0,0,0.1-0.1,0.1-0.2l1.4-4.2c0-0.1,0.2-0.3,0.3-0.4c0.2-0.1,0.3,0,0.3,0.1C42.4,13.5,42.5,13.6,42.5,13.8z"/>
											<path class="fill-primary" d="M33.6,6.5c-0.2-0.2-0.4-0.2-0.7-0.1c-0.4,0.1-1.4,0.4-2.6,0.9c-0.2-2-0.6-3.5-0.7-3.9 c-0.1-0.2-0.2-0.4-0.5-0.5c-0.2-0.1-0.5,0-0.7,0.1c-0.4,0.3-1.5,1.2-2.8,2.5c-1.3-2.7-2.8-4.7-3.2-5.2C22.3,0.1,22.1,0,21.9,0 c-0.2,0-0.4,0.1-0.6,0.3c-0.4,0.5-1.9,2.5-3.2,5.2c-1.3-1.3-2.4-2.2-2.8-2.5c-0.2-0.1-0.5-0.2-0.7-0.1c-0.2,0.1-0.4,0.3-0.5,0.5 c-0.1,0.5-0.5,2-0.7,3.9c-1.2-0.5-2.2-0.8-2.6-0.9c-0.2-0.1-0.5,0-0.7,0.1C9.9,6.7,9.8,6.9,9.8,7.2c0.1,0.9,0.4,5.5,3.2,9.5 c2.3,3.4,6.4,3.8,8.1,3.8c0.4,0,0.6,0,0.7,0c0,0,0,0,0,0c0,0,0,0,0,0c0.1,0,0.4,0,0.7,0c1.7,0,5.8-0.4,8.1-3.8 c2.8-4,3.1-8.6,3.2-9.5C33.9,6.9,33.8,6.7,33.6,6.5z M28.6,4.5c0.2,0.8,0.4,1.9,0.5,3.3c-0.5,0.2-1.1,0.5-1.6,0.8c0,0,0,0,0,0 c-0.2,0.1-0.3,0.2-0.5,0.3c0,0,0,0,0,0c-0.2-0.7-0.5-1.5-0.7-2.1C27.2,5.7,28,5,28.6,4.5z M15.1,4.5c0.6,0.5,1.5,1.3,2.4,2.3 c-0.3,0.7-0.5,1.4-0.7,2.1c0,0,0,0,0,0c-0.2-0.1-0.3-0.2-0.5-0.3c0,0,0,0,0,0c-0.6-0.3-1.1-0.6-1.6-0.8 C14.7,6.4,14.9,5.2,15.1,4.5z M14,15.9c-2.1-3.1-2.7-6.5-2.9-8.1c0.9,0.3,2.5,0.9,4.3,1.8c0.1,0,0.1,0.1,0.2,0.1 c0,0,0.1,0,0.1,0.1c0.1,0,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0c0.1,0.1,0.2,0.1,0.3,0.2c0,0,0,0,0,0c0,0.1,0,0.2-0.1,0.2c0,0,0,0,0,0 c0,0.1,0,0.2,0,0.2c0,0,0,0,0,0c0,0.1,0,0.2,0,0.2c0,0,0,0,0,0c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3c0,0,0,0.1,0,0.1 c0,0.1,0,0.2,0,0.2c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0,0.3c0,0,0,0,0,0c0,0.1,0,0.2,0,0.3c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.2 c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0,0.3c0,0,0,0,0,0c0,0.1,0,0.2,0,0.3c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.2c0,0,0,0.1,0,0.1 c0,0.1,0,0.2,0.1,0.3c0,0,0,0,0,0c0,0.1,0,0.2,0.1,0.3c0,0,0,0,0,0.1c0,0.1,0,0.1,0.1,0.2c0,0,0,0,0,0.1c0,0.1,0.1,0.2,0.1,0.2 c0,0,0,0,0,0c0,0.1,0.1,0.2,0.1,0.2c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0 c0,0.1,0.1,0.2,0.1,0.2c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0 c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0 c0,0.1,0.1,0.1,0.2,0.2c0,0,0,0,0,0c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0,0,0c0,0,0.1,0.1,0.1,0.1 c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0,0,0c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0,0,0 c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0C17.9,18.9,15.5,18.1,14,15.9z M29.7,15.9c-1.5,2.2-3.9,2.9-5.6,3.1c0.7-0.6,1.5-1.3,2.1-2.3 c0.2-0.3,0.1-0.7-0.2-0.9c-0.3-0.2-0.7-0.1-0.9,0.2c-1.1,1.6-2.6,2.6-3.3,3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0 c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0 c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0 c0,0,0,0,0,0c0,0,0,0-0.1-0.1c0,0,0,0,0,0c0,0,0,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1 c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1 c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c-0.3-0.3-0.7-0.6-1-1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0 c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0 c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1 c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1 c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1 c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1 c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1 c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1 c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.2c0-0.1,0-0.3,0.1-0.4 c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-0.1,0-0.2,0.1-0.3c0,0,0-0.1,0-0.1c0-0.1,0-0.2,0.1-0.3c0,0,0,0,0-0.1 c0.2-1,0.6-2.1,1-3.1c0,0,0,0,0,0c1-2.4,2.3-4.3,3-5.2c0.7,0.9,2,2.8,3,5.2c0,0,0,0,0,0c0.4,1,0.8,2.1,1,3.1c0,0,0,0,0,0.1 c0,0.1,0,0.2,0.1,0.3c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0.1,0.3c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.3,0.1,0.4 c0.1,0.7,0.1,1.4,0,2.1c-0.1,0.3,0.2,0.7,0.5,0.7c0.3,0.1,0.7-0.2,0.7-0.5c0.1-0.8,0.2-1.6,0-2.5c0-0.1,0-0.2,0-0.3c0,0,0,0,0,0 c0-0.1,0-0.2,0-0.2c0,0,0,0,0,0c0-0.1,0-0.2,0-0.2c0,0,0,0,0,0c0-0.1,0-0.2-0.1-0.2c0,0,0,0,0,0c0.1-0.1,0.2-0.1,0.3-0.2 c0,0,0.1,0,0.1,0c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1-0.1c0.1,0,0.2-0.1,0.2-0.1c1.8-0.9,3.4-1.5,4.3-1.8 C32.4,9.4,31.8,12.9,29.7,15.9z"/>
										</svg>
									</figure>
								</div>
								<h6 class="mb-0"><a link_to"#" class="stretched-link">Spa</a></h6>
							</div>
						</div>

						<!-- Slider item -->
						<div>
							<div class="card card-body bg-light text-center align-items-center">
								<!-- Icon -->
								<div class="icon-xl bg-mode rounded-circle mb-3">
									<figure>
										<svg width="44px" height="44px" viewBox="0 0 44 44" style="enable-background:new 0 0 44 44;" xml:space="preserve">
											<path class="fill-primary" d="M20.6,12.1c-6.3,0-11.4,5.1-11.4,11.4s5.1,11.4,11.4,11.4s11.4-5.1,11.4-11.4S26.8,12.1,20.6,12.1z M20.6,33.4 c-5.5,0-9.9-4.5-9.9-9.9s4.5-9.9,9.9-9.9s9.9,4.5,9.9,9.9S26.1,33.4,20.6,33.4z"/>
											<path class="fill-primary" d="M20.6,19.2c-2.3,0-4.3,1.9-4.3,4.3c0,2.3,1.9,4.3,4.3,4.3s4.3-1.9,4.3-4.3S22.9,19.2,20.6,19.2z M20.6,26.3 c-1.6,0-2.8-1.3-2.8-2.8c0-1.6,1.3-2.8,2.8-2.8c1.6,0,2.8,1.3,2.8,2.8S22.1,26.3,20.6,26.3z"/>
											<path class="fill-mode-inverse" d="M20.6,18.5c1.2,0,2.1-1,2.1-2.1s-1-2.1-2.1-2.1c-1.2,0-2.1,1-2.1,2.1S19.4,18.5,20.6,18.5z M20.6,15.6 c0.4,0,0.7,0.3,0.7,0.7S21,17,20.6,17c-0.4,0-0.7-0.3-0.7-0.7S20.2,15.6,20.6,15.6z"/>
											<path class="fill-mode-inverse" d="M20.6,28.4c-1.2,0-2.1,1-2.1,2.1c0,1.2,1,2.1,2.1,2.1c1.2,0,2.1-1,2.1-2.1C22.7,29.3,21.8,28.4,20.6,28.4z M20.6,31.2 c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7S21,31.2,20.6,31.2z"/>
											<path class="fill-mode-inverse" d="M13.5,21.3c-1.2,0-2.1,1-2.1,2.1c0,1.2,1,2.1,2.1,2.1s2.1-1,2.1-2.1C15.6,22.2,14.7,21.3,13.5,21.3z M13.5,24.1 c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7s0.7,0.3,0.7,0.7S13.9,24.1,13.5,24.1z"/>
											<path class="fill-mode-inverse" d="M25.5,23.4c0,1.2,1,2.1,2.1,2.1c1.2,0,2.1-1,2.1-2.1c0-1.2-1-2.1-2.1-2.1C26.5,21.3,25.5,22.2,25.5,23.4z M27.7,22.7 c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7S27,23.8,27,23.4S27.3,22.7,27.7,22.7z"/>
											<path class="fill-mode-inverse" d="M41.2,11.3l0.5-2c0.1-0.6,0.1-1.1-0.2-1.6l-1.6-2.7c-0.2-0.3-0.4-0.6-0.7-0.7l-2.7-1.6c-0.5-0.3-1.1-0.4-1.6-0.2l-2,0.5 C29.5,1,25.9,0,22,0c-0.4,0-0.7,0.3-0.7,0.7v2.1h-0.7C9.2,2.8,0,12.1,0,23.4S9.2,44,20.6,44s20.6-9.2,20.6-20.6v-0.7h2.1 c0.4,0,0.7-0.3,0.7-0.7C44,18.1,43,14.5,41.2,11.3z M35.1,3.7c0.2,0,0.4,0,0.5,0.1l2.7,1.6c0.1,0.1,0.2,0.1,0.2,0.2l1.6,2.7 c0.1,0.2,0.1,0.4,0.1,0.5l-0.2,0.7c-1.5-2.3-3.5-4.2-5.8-5.8L35.1,3.7z M20.6,42.6C10,42.6,1.4,34,1.4,23.4S10,4.3,20.6,4.3h0.7 v2.1c0,0.4,0.3,0.7,0.7,0.7c8.2,0,14.9,6.7,14.9,14.9c0,0.4,0.3,0.7,0.7,0.7h2.1v0.7C39.7,34,31.1,42.6,20.6,42.6z M40.5,21.3h-2.1 c-0.4-8.4-7.2-15.2-15.6-15.6V3.5V1.4c10.8,0.4,19.5,9.1,19.9,19.9H40.5z"/>
											<path class="fill-primary" d="M6.4,23.4H5C5,32,12,39,20.6,39v-1.4C12.8,37.6,6.4,31.2,6.4,23.4z"/>
										</svg>
									</figure>
								</div>
								<h6 class="mb-0"><a link_to"#" class="stretched-link">Automotive</a></h6>
							</div>
						</div>

						<!-- Slider item -->
						<div>
							<div class="card card-body bg-light text-center align-items-center">
								<!-- Icon -->
								<div class="icon-xl bg-mode rounded-circle mb-3">
									<figure>
										<svg width="42.7px" height="42.7px" viewBox="0 0 42.7 42.7" style="enable-background:new 0 0 42.7 42.7;" xml:space="preserve">
											<path class="fill-mode-inverse" d="M41.2,6.7L22,0.1c-0.5-0.2-0.9-0.2-1.4,0L1.4,6.7C0.6,7,0,7.8,0,8.8v4.8c0,1.2,1,2.1,2.1,2.1v2.1 c0,0.9,0.6,1.7,1.4,2v14.5c-0.8,0.3-1.4,1.1-1.4,2v1.4c-1.2,0-2.1,1-2.1,2.1v1.4c0,0.8,0.6,1.4,1.4,1.4h39.8c0.8,0,1.4-0.6,1.4-1.4 v-1.4c0-1.2-1-2.1-2.1-2.1v-1.4c0-0.9-0.6-1.7-1.4-2V19.8c0.8-0.3,1.4-1.1,1.4-2v-2.1c1.2,0,2.1-1,2.1-2.1V8.8 C42.7,7.8,42.1,7,41.2,6.7z M9.2,15.6v2.1c0,0.4-0.3,0.7-0.7,0.7H4.3c-0.4,0-0.7-0.3-0.7-0.7v-2.1H9.2z M34.8,34.1V19.9h2.8v14.2 H34.8z M33.4,19.8v14.4H9.2V19.8c0.8-0.3,1.4-1.1,1.4-2v-2.1H32v2.1C32,18.7,32.6,19.5,33.4,19.8z M7.8,19.9v14.2H5V19.9H7.8z  M41.2,39.8v1.4H1.4v-1.4c0-0.4,0.3-0.7,0.7-0.7h38.4C40.9,39.1,41.2,39.4,41.2,39.8z M3.6,37.7v-1.4c0-0.4,0.3-0.7,0.7-0.7h34.2 c0.4,0,0.7,0.3,0.7,0.7v1.4H3.6z M39.1,17.8c0,0.4-0.3,0.7-0.7,0.7h-4.3c-0.4,0-0.7-0.3-0.7-0.7v-2.1h5.7V17.8z M41.2,13.5 c0,0.4-0.3,0.7-0.7,0.7H2.1c-0.4,0-0.7-0.3-0.7-0.7l0-4.8c0-0.3,0.2-0.6,0.5-0.7l19.2-6.6c0.1,0,0.2,0,0.2,0c0.1,0,0.2,0,0.2,0 l19.2,6.6c0.3,0.1,0.5,0.4,0.5,0.7V13.5z"/>
											<path class="fill-primary" d="M38.4,8.7L22,3c-0.4-0.2-0.9-0.2-1.4,0L4.2,8.7C3.3,9.1,2.7,10,2.9,11c0.2,1,1,1.7,2,1.8h32.9 c1,0,1.9-0.8,2-1.8C40,10,39.4,9.1,38.4,8.7L38.4,8.7z M37.8,11.4H4.9c-0.4,0-0.6-0.3-0.6-0.7c0-0.3,0.2-0.5,0.4-0.6l16.4-5.8 c0.1,0,0.3,0,0.4,0L38,10.1c0.3,0.1,0.4,0.4,0.4,0.6c0,0.2-0.1,0.3-0.2,0.5S37.9,11.4,37.8,11.4z"/>
											<path class="fill-primary" d="M27,17.1H15.6c-0.8,0-1.4,0.6-1.4,1.4v12.8c0,0.8,0.6,1.4,1.4,1.4H27c0.8,0,1.4-0.6,1.4-1.4V18.5 C28.4,17.7,27.8,17.1,27,17.1z M27,18.5v6.8l-1.6-1.6c-0.3-0.3-0.7-0.3-1,0L21,27.1l-1.3-1.3c-0.3-0.3-0.7-0.3-1,0l-3.1,3.1V18.5 L27,18.5z M15.6,31.3v-0.4l3.6-3.6l1.3,1.3l1.1,1.1c0.3,0.3,0.7,0.3,1,0c0.3-0.3,0.3-0.7,0-1L22,28.1l2.9-2.9l2.1,2.1v4L15.6,31.3z "/>
										</svg>
									</figure>
								</div>
								<h6 class="mb-0"><a link_to"#" class="stretched-link">Museums</a></h6>
							</div>
						</div>

  <!-- Links -->
<li><hr class="dropdown-divider"></li>
<li><%= link_to "<i class='bi bi-bookmark-check fa-fw me-2'></i>My Bookings".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-heart fa-fw me-2'></i>My Wishlist".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-gear fa-fw me-2'></i>Settings".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-info-circle fa-fw me-2'></i>Help Center".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-power fa-fw me-2'></i>Sign Out".html_safe, '#', class: 'dropdown-item bg-danger-soft-hover' %></li>
</ul>
</li>
<!-- Profile dropdown END -->
</ul>
<!-- Profile and Notification START -->
</div>
</nav>
<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main banner START -->
<section class="position-relative py-8 py-lg-9" style="background-image:url(assets/images/bg/20.jpg); background-position: center left; background-size: cover;">
<!-- Background dark overlay -->
<div class="bg-overlay bg-dark opacity-8"></div>
<div class="container z-index-9 position-relative">
<div class="row py-sm-5">
<!-- Title -->
<div class="col-xl-8 m-auto text-center">
<h6 class="text-white fw-normal mb-3">Discover & Connect With Great Places Around The World</h6>
<h1 class="display-4 text-white mb-0">Let's Discover
<span class="position-relative z-index-9 d-block">London
<!-- SVG START -->
<span class="position-absolute top-50 start-50 translate-middle z-index-n1 d-none d-md-block mt-4">
<%= image_tag('your-svg-image.svg', width: '390.5px', height: '21.5px', class: 'your-class') %>
</span>
<!-- SVG END -->
</span>
</h1>
</div>

<!-- Search START -->
<div class="col-xl-10 mx-auto">
<div class="bg-blur bg-white bg-opacity-10 border border-light border-opacity-25 rounded-3 p-4 mt-5">
<!-- Form START -->
<%= form_tag('#', method: 'get', class: 'row g-3 justify-content-center align-items-center') do %>
<div class="col-lg-5">
<!-- Input -->
<div class="form-input-dropdown position-relative">
<%= text_field_tag(:search, nil, class: 'form-control form-control-lg me-1 ps-5', placeholder: 'What are you looking for..', data: { bs_toggle: 'dropdown' }) %>
<!-- dropdown button -->
<ul class="dropdown-menu input-dropdown shadow rounded-0 rounded-bottom w-100">
<li><%= link_to "<i class='bi bi-building fa-fw text-primary me-2'></i>Hotels".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-egg-fried fa-fw text-primary me-2'></i>Restaurants".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-airplane fa-fw text-primary me-2'></i>Flights".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-cup-straw fa-fw text-primary me-2'></i>Bars".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-tv fa-fw text-primary me-2'></i>Arts & Entertainment".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-car-front fa-fw text-primary me-2'></i>Automotive".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-emoji-kiss fa-fw text-primary me-2'></i>Beauty & Spa".html_safe, '#' %></li>
<li><%= link_to "<i class='bi bi-fire fa-fw text-primary me-2'></i>Nightlife".html_safe, '#' %></li>
</ul>
<!-- Icon -->
<span class="position-absolute top-50 start-0 translate-middle ps-5"><i class="bi bi-search fs-5"></i></span>
</div>
</div>

<div class="col-lg-5">
<!-- Choices -->
<div class="form-mix-icon-input form-size-lg">
<%= select_tag(:choices, options_for_select(['Search hotel', 'San Jacinto, USA', 'North Dakota, Canada', 'West Virginia, Paris']), class: 'form-select js-choice', data: { search_enabled: true }) %>
<!-- Icons -->
<span class="position-absolute top-50 start-0 translate-middle ps-5"><i class="bi bi-geo-alt fs-5"></i></span>
<%= link_to "#", class: 'h6 mb-0 position-absolute top-50 end-0 translate-middle pe-1' do %>
<i class="fa-solid fa-crosshairs"></i>
<% end %>
</div>
</div>

<div class="col-lg-2 d-grid">
<!-- Search -->
<%= link_to 'Search', '#', class: 'btn btn-lg btn-primary mb-0' %>
</div>
<% end %>
<!-- Form END -->
</div>
</div>
<!-- Search END -->
</div> <!-- Row
