<%= form_with(model: @experience, url: experiences_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

    <div class="field">
    <%= form.label :specialty %>
    <%= form.text_area :specialty %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
  <%= form.label :local %>
  <%= form.text_area :local %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_area :price %>
  </div>

  <div class="actions">
    <%= form.submit "Create Experience" %>
  </div>
<% end %>
