<%= form_with(model: @experience, url: experience_path(@experience), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :specialty %>
    <%= form.text_area :specialty %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_area :local %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: '0.01' %>
  </div>

  <div class="actions">
    <%= form.submit "Update Experience" %>
  </div>
<% end %>
