<div class="form-container-edit-experience">
  <h1 style="color: black;">Edit an Experience</h1>
  <div class="form-wrapper">
    <%= simple_form_for( @experience, html: { class: 'new-event-form' } ) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :lawyer_name, label: "Nome do Advogado" %>
          <%= f.input :category, collection: ['Previdenciario', 'Trabalhista', 'Penal'], prompt: "Selecione a Especialidade" %>
          <%# <%= f.input :local, collection: ['São Paulo', 'Rio de Janeiro', 'Fortaleza'], prompt: "Selecione a City" %>
        </div>
        <div class="col-md-6">
          <%= f.input :OAB, label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>
          <%= f.input :phone %>
          <%= f.input :mail%>
          <%= f.input :photo, as: :file %>
        </div>
        <div class="col-md-6">
        <%= f.input :description, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-textarea' } %>
        <%= f.button :submit, "Edit Experience", class: 'btn-success-edit-experience' %>
      </div>
    <% end %> <!-- Adicionei o fechamento correto da tag form -->
  </div>
</div>

    <%# <%= f.input :date, as: , label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>
