
<div class="container my-5  container-experiences">
  <%# <h1 class="h1-experiences">Experiences</h1> %>
  <% if params[:show_only].blank? || ( params[:show_only].present? && params[:show_only] == 'excursions') %>
    <h2 id="excursions" class= "<%= 'd-none' unless @experiences.where("category ILIKE ?", "excursions").any? %>">Excursions</h2>
    <div class="row">
      <% @experiences.where("category ILIKE ?", "excursions").each do |experience| %>
         <%= render "experience", experience: experience %>
      <% end %>
      <%= link_to "See All Experiences", experiences_path, class: "d-flex justify-content-center see-all-experiences mt-2"%>
    </div>
  <% end %>

  <% if params[:show_only].blank? || ( params[:show_only].present? && params[:show_only] == 'gastronomy')  %>

    <h2 id="gastronomy" class= "<%= 'd-none' unless @experiences.where("category ILIKE ?", "gastronomy").any? %>">Gastronomy<a href="#experiences" class="back-to-top-link"></a></h2>
    <div class="row">
      <% @experiences.where("category ILIKE ?", "gastronomy").each do |experience| %>
        <%= render "experience", experience: experience %>
      <% end %>
      <%= link_to "See All Experiences", experiences_path, class: "d-flex justify-content-center mt-2"%>
    </div>

  <% end %>

   <% if params[:show_only].blank? || ( params[:show_only].present? && params[:show_only] == 'workshops')  %>


    <h2 id="workshops" class= "<%= 'd-none' unless @experiences.where("category ILIKE ?", "workshops").any? %>">Workshops</h2>
    <div class="row">
      <% @experiences.where("category ILIKE ?", "workshops").each do |experience| %>
        <%= render "experience", experience: experience %>
      <% end %>
      <%= link_to "See All Experiences", experiences_path, class: "d-flex justify-content-center mt-2"%>
    </div>
  <% end %>
</div>
