<div class="form-container container">

  <h1>Create New Experience</h1>

  <%= simple_form_for @experience do |f| %>

    <div class="row">

      <div class="col-md-6">
        <%= f.input :category %>
        <%= f.input :specialty %>
        <%= f.input :local %>
      </div>

      <div class="col-md-6">
        <%= f.input :date, as: :date %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
      </div>

    </div>

    <%= f.input :description, as: :text %>

    <%= f.button :submit, "Create Experience", class:"btn-primary" %>

  <% end %>

</div>
