
<div class="form-container-create">
  <h1  class="h1-create"style="color: black;">Create an Experience</h1>
  <div class="form-wrapper">
    <%= simple_form_for( @experience, html: { class: 'new-event-form' } ) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :specialty, label: "Experience Name" %>
          <%= f.input :category, collection: ['Excursions', 'Gastronomy', 'Workshops'], prompt: "Select Category" %>
          <%= f.input :local, collection: ['São Paulo', 'Rio de Janeiro', 'Fortaleza'], prompt: "Select City" %>
        </div>
        <div class="col-md-6">
          <%= f.input :date, as: :date, label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
        </div>
        <%= f.input :description, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-textarea' } %>

        <div class="col-md-12"> <!-- Adicione uma nova div para envolver o botão -->
          <%# <%= f.button :submit, "Create Experience", class: 'btn btn-success btn-sm', data: { confirm: "Experience created successfully", turbo_confirm: "Experience created successfully" }, method: :create %> 
          <%= f.button :submit, "Create Experience", class: 'btn btn-success btn-sm' %>
          <!-- Adicione a classe 'btn-sm' para diminuir o tamanho do botão -->
        </div>
      </div>
    <% end %>
  </div>
</div>
