
<div class="margin-top-200 center-container">
  <div class="event-detail-container">
    <h1 class="event-detail-title"><%= @experience.specialty %></h1>

    <div class="card-img-container">
      <% if @experience.photo.key %>
        <%= cl_image_tag @experience.photo.key, class: "card-img-top" %>
      <% else %>
        <%= image_tag "Logo.png", alt: "Logo My-Welcome", class: "img-card" %>
      <% end %>
    </div>
    <p><i class="icon-category"></i> <strong>Category: </strong>  <%=" "%> <%= @experience.category %></p>
    <p><i class="icon-category"></i> <strong>Description: </strong>  <%=" "%> <%= @experience.description %></p>
    <p><i class="icon-category"></i> <strong>Local: </strong>  <%=" "%> <%= @experience.local %></p>
    <p><i class="icon-category"></i> <strong>Date: </strong>  <%=" "%> <%= @experience.date.strftime("%d %B %Y") %></p>
    <p><i class="icon-category"></i> <strong>Price: </strong>  <%=" "%> <%= @experience.price, unit: "R$ ", separator: ",", delimiter: "." %></p>

    <% if policy(@experience).edit? %>
      <%= link_to "Edit", edit_experience_path, class: "btn btn-success rounded" %>
    <% end %>
    <% if policy(@experience).edit? %>
      <%= link_to 'Delete', experience_path, class: "btn btn-danger rounded", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
<div class="margin-top-200"></div>
