<div class="container mt-4">
  <h1 class="mt-4 mb-4 text-center">Experience Details</h1>

  <div class="card">
    <div class="card-body">

<<<<<<< HEAD
      <% if @experience.photo.key %>
              <%= cl_image_tag @experience.photo.key, class: "card-img-top", width: 300, height: 300, crop: :fill %>
            <% else %>
              <%= image_tag "Logo.png", alt: "Logo My-Welcome", class: "card-img-top", width: 300, height: 300, crop: :fill %>
            <% end %>

      <%# <h5 class="card-title"><%= @experience.specialty %>
      <p class="card-text"><i class="bi bi-card-text icon"></i><strong>Description:</strong> <%= @experience.description %></p>
      <p class="card-text"><i class="bi bi-tags icon"></i><strong>Category:</strong> <%= @experience.category %></p>
      <p class="card-text"><i class="bi bi-calendar icon"></i><strong>Date:</strong> <%= @experience.date.strftime('%B %d, %Y') %></p>
      <p class="card-text"><i class="bi bi-geo-alt icon"></i><strong>Local:</strong> <%= @experience.local %></p>
      <p class="card-text"><i class="bi bi-cash icon"></i><strong>Price:</strong> <%= number_to_currency(@experience.price, unit: 'U$') %></p>
    </div>
    <div class="card-footer justify-content-center">
      <%# <%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-primary' %>
      <%# <%= link_to 'Delete', appointment_path(@appointment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% if policy(@experience).edit? %>
        <%= link_to "Edit", edit_experience_path, class: "btn btn-success rounded" %>
      <% end %>
      <% if policy(@experience).edit? %>
        <%= link_to 'Delete', experience_path, class: "btn btn-danger rounded", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
=======
      <div class="div-buttons-edit-delete-buy">
        <div>
          <% if policy(@experience).edit? %>
            <%= link_to 'Delete', experience_path, class: "btn btn-success-delete-experience btn-danger rounded", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
          <% if policy(@experience).edit? %>
            <%= link_to "Edit", edit_experience_path, class: "btn btn-success-edit-experience rounded" %>
          <% end %>
        </div>
        <%= simple_form_for [@experience, @appointment], method: :post do |f| %>
          <%= f.submit "Book Now", class:"btn btn-primary rounded buy-event-detail"%>
        <% end %>
      </div>

>>>>>>> master
    </div>
  </div>
</div>
