<!-- FILEPATH: /home/benjamin/code/Benyoumen/MYWELCOME/app/views/experiences/show.html.erb -->


<%# <div class="margin-top-200"> %>

  <%# <div class="event-detail-container"> %>
    <%# <h1 class="event-detail-title">Event Details</h1> %>
    <%# <h1 class="event-detail-title"><%= @experience.specialty</h1>' %>

    <div class="event-detail-card">
      <%= cl_image_tag @experience.photo.key, class: "event-detail-image" %>
      <p class="event-detail"><strong>Category:</strong> <%= @experience.category %></p>
      <p class="event-detail"><strong>Description:</strong> <%= @experience.description %></p>
      <p class="event-detail"><strong>Location:</strong> <%= @experience.local %></p>
      <p class="event-detail"><strong>Date:</strong> <%= @experience.date %></p>
      <p class="event-detail"><strong>Price:</strong> <%= number_to_currency(@experience.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>

    <% if policy(@experience).edit? %>
      <%= link_to "Edit", edit_experience_path, class: "btn btn-success rounded"
    <%# <% end %>
    <%# <% if policy(@experience).edit? %>
      <%= link_to 'Delete', experience_path, class: "btn btn-danger rounded", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }
    <%# <% end %>
    <%# </div> %>
  </div>
<%# <%# <div class="margin-top-200"> %>

<!-- =======================
Main banner START -->
<section class="py-0">
	<div class="container-fluid px-0">
		<!-- Slider START -->
		<div class="tiny-slider arrow-round arrow-blur">
			<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-gutter="0" data-edge="0" data-dots="false" data-items="3" data-items-md="2" data-items-xs="1">
				<!-- Slider item -->
				<div>
					<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/03.jpg">
						<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
							<!-- Image -->
							<img src="/app/assets/images/category/directory/03.jpg" class="" alt="">
							<!-- Full screen button -->
							<div class="hover-element w-100 h-100">
								<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
							</div>
						</div>
					</a>
				</div>

				<!-- Slider item -->
				<div>
					<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/06.jpg">
						<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
							<!-- Image -->
							<img src="/assets/images/category/directory/06.jpg" class="" alt="">
							<!-- Full screen button -->
							<div class="hover-element w-100 h-100">
								<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
							</div>
						</div>
					</a>
				</div>

				<!-- Slider item -->
				<div>
					<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/05.jpg">
						<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
							<!-- Image -->
							<img src="images/category/directory/05.jpg" class="" alt="">
							<!-- Full screen button -->
							<div class="hover-element w-100 h-100">
								<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
							</div>
						</div>
					</a>
				</div>

				<!-- Slider item -->
				<div>
					<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/04.jpg">
						<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
							<!-- Image -->
							<img src="/assets/images/category/directory/04.jpg" class="" alt="">
							<!-- Full screen button -->
							<div class="hover-element w-100 h-100">
								<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- Slider START -->
	</div>
</section>
<!-- =======================
Main banner END -->

<!-- =======================
Title and tabs START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card bg-light p-0 pb-0">
					<!-- Card body -->
					<div class="card-body d-flex justify-content-between flex-wrap">
						<!-- Title and badge -->
						<div>
							<!-- Badge -->
							<div class="badge text-bg-dark"><i class="fa-solid fa-spa fa-fw text-warning"></i> Spa</div>
							<div class="badge text-bg-dark"><i class="bi bi-scissors fa-fw text-warning"></i> Salon</div>
							<div class="badge text-bg-dark"><i class="fas fa-star fa-fw text-warning"></i> 4.5</div>

							<!-- Title -->
							<h1 class="h3 mt-2 mb-1">Emperor Salon & Spa</h1>
							<p class="mb-2 mb-sm-0"><i class="bi bi-geo-alt me-1 text-primary"></i>5855 W Century Blvd, Los Angeles - 90045</p>
						</div>
						<!-- Buttons -->
						<ul class="list-inline mb-0">
							<!-- wishlist -->
							<li class="list-inline-item">
								<a href="#" class="btn btn-sm btn-white px-2"><i class="fa-solid fa-fw fa-heart"></i></a>
							</li>
							<!-- Share -->
							<li class="list-inline-item dropdown">
								<!-- Share button -->
								<a href="#" class="btn btn-sm btn-white px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-fw fa-share-alt"></i>
								</a>
								<!-- dropdown button -->
								<ul class="dropdown-menu min-w-auto shadow rounded" aria-labelledby="dropdownShare">
									<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
									<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
									<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
									<li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
								</ul>
							</li>
							<!-- Report -->
							<li class="list-inline-item">
								<a href="#" class="btn btn-sm btn-white px-2"><i class="bi bi-exclamation-triangle-fill fa-fw"></i></a>
							</li>
						</ul>
					</div>
					<!-- Card footer -->
					<div class="card-footer bg-transparent border-top py-0">
						<ul class="nav nav-tabs nav-bottom-line nav-responsive border-0" role="tablist">
							<li class="nav-item"> <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1">About</a> </li>
							<li class="nav-item"> <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2">Deals</a> </li>
							<li class="nav-item"> <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3">Services</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Title and tabs END -->

<!-- =======================
Content START -->
<section class="pt-0">
	<div class="container">
		<!-- Tabs contents START -->
		<div class="tab-content mb-0" id="tour-pills-tabContent">

			<!-- Content item START -->
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
				<div class="row g-4 g-lg-5">
					<!-- Left side START -->
					<div class="col-lg-7 col-xl-8">
						<!-- Card START -->
						<div class="card bg-transparent mb-4">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom px-0 pt-0">
								<h4 class="mb-0">Description</h4>
							</div>
							<!-- Card body -->
							<div class="card-body px-0 pb-0">
								<p class="mb-3">Demesne far-hearted suppose venture excited see had has. Dependent on so extremely delivered by. Yet no jokes worse her why. <b>Bed one supposing breakfast day fulfilled off depending questions.</b> As it so contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted. Lively use looked latter regard had. Do he it part more last in. We understand that theory is important to build a solid foundation, we understand that theory alone isn’t going to get the job done so that’s why this is packed with practical hands-on examples that you can follow step by step.</p>

								<p class="mb-0">Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. Water timed folly right aware if oh truth. Large above be to means. Dashwood does provide stronger is.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="card bg-transparent">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom px-0">
								<h4 class="mb-0">Image Gallery</h4>
							</div>
							<!-- Card body -->
							<div class="card-body px-0 pb-0">
								<div class="row g-4">
									<div class="col-md-4">
										<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/11.jpg">
											<div class="card card-element-hover card-overlay-hover overflow-hidden">
												<!-- Image -->
												<img src="/assets/images/category/directory/11.jpg" class="card-img" alt="">
												<!-- Full screen button -->
												<div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												</div>
											</div>
										</a>
									</div>

									<div class="col-md-4">
										<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/09.jpg">
											<div class="card card-element-hover card-overlay-hover overflow-hidden">
												<!-- Image -->
												<img src="/assets/images/category/directory/09.jpg" class="card-img" alt="">
												<!-- Full screen button -->
												<div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												</div>
											</div>
										</a>
									</div>

									<div class="col-md-4">
										<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/02.jpg">
											<div class="card card-element-hover card-overlay-hover overflow-hidden">
												<!-- Image -->
												<img src="/assets/images/category/directory/02.jpg" class="card-img" alt="">
												<!-- Full screen button -->
												<div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												</div>
											</div>
										</a>
									</div>

									<div class="col-md-4">
										<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/03.jpg">
											<div class="card card-element-hover card-overlay-hover overflow-hidden">
												<!-- Image -->
												<img src="/assets/images/category/directory/03.jpg" class="card-img" alt="">
												<!-- Full screen button -->
												<div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												</div>
											</div>
										</a>
									</div>

									<div class="col-md-4">
										<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/10.jpg">
											<div class="card card-element-hover card-overlay-hover overflow-hidden">
												<!-- Image -->
												<img src="/assets/images/category/directory/10.jpg" class="card-img" alt="">
												<!-- Full screen button -->
												<div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												</div>
											</div>
										</a>
									</div>

									<div class="col-md-4">
										<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/08.jpg">
											<div class="card card-element-hover card-overlay-hover overflow-hidden">
												<!-- Image -->
												<img src="/assets/images/category/directory/08.jpg" class="card-img" alt="">
												<!-- Full screen button -->
												<div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												</div>
											</div>
										</a>
									</div>

									<div class="col-md-4">
										<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="/assets/images/category/directory/07.jpg">
											<div class="card card-element-hover card-overlay-hover overflow-hidden">
												<!-- Image -->
												<img src="/assets/images/category/directory/07.jpg" class="card-img" alt="">
												<!-- Full screen button -->
												<div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Card END -->
					</div>
					<!-- Left side END -->

					<!-- Right side START -->
					<div class="col-lg-5 col-xl-4">
						<!-- Direction START -->
						<div class="card shadow mb-4">
							<!-- Card header -->
							<div class="card-header border-bottom">
								<h5 class="mb-0">Get Direction</h5>
							</div>

							<!-- Card body -->
							<div class="card-body">
								<!-- Map START -->
								<iframe class="w-100 grayscale rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" height="200" style="border:0;" aria-hidden="false" tabindex="0"></iframe>

								<!-- Info -->
								<ul class="list-group list-group-borderless my-3">
									<!-- Address -->
									<li class="list-group-item">
										<a href="#" class="h6 fw-normal mb-0">
											<i class="bi fa-fw bi-geo-alt me-2"></i>5855 W Century Blvd, Los Angeles
										</a>
									</li>
									<!-- Call no -->
									<li class="list-group-item">
										<a href="#" class="h6 fw-normal mb-0">
											<i class="bi fa-fw bi-telephone-forward me-2"></i>+31 123 456 789
										</a>
									</li>
									<!-- Email -->
									<li class="list-group-item">
										<a href="#" class="h6 fw-normal mb-0">
											<i class="bi fa-fw bi-envelope me-2"></i>example@gmail.com
										</a>
									</li>
								</ul>
								<!-- Social button -->
								<ul class="list-inline mb-0 mt-3">
									<li class="list-inline-item">Follow us on: </li>
									<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
									<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
									<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
									<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
								</ul>
							</div>
						</div>
						<!-- Direction END -->
