<div class="login-form">

  <h1>User Login</h1>

  <div class="form-wrapper">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.input :email, autofocus: true,placeholder: "Email" %>
    </div>

    <div class="form-group">
     <%= f.input :password, autocomplete: "off", placeholder: "Password" %>
    </div>

    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <!-- form fields -->

      <div class="actions">
       <%= f.submit "Log In", class: "btn btn-primary" %>
      </div>

    <% end %>

  </div>

  <!-- Other links like Forgot Password -->

</div>


</div>
