<%= form_with(model: @appointment, url: appointments_path) do |form| %>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :experience_id %>
    <%= form.text_field :experience_id %>
  </div>

  <div class="actions">
    <%= form.submit "Create Appointment" %>
  </div>
<% end %>
