<div class="appointments-container">
  <h1>Appointments</h1>
  <% @appointments.each do |appointment| %>
    <div class="appointment-card">
      <div class="card-header">
        <% if appointment.experience.photo.key %>
              <%= cl_image_tag appointment.experience.photo.key, class: "card-img-top", width: 300, height: 300, crop: :fill %>
            <% else %>
              <%= image_tag "Logo.png", alt: "Logo My-Welcome", class: "card-img-top", width: 300, height: 300, crop: :fill %>
            <% end %><!-- Display content for Excursions -->

        <h3><%= appointment.experience.description %></h3>
        <p><%= appointment.experience.date.strftime("%e %B %Y") %></p>
        <p><%= appointment.experience.local %></p>

      </div>
      <div class="card-body">
        <!-- Show appointment details -->
        <div class="appointment-image">
          <%# <%= image_tag appointment.experience.image_url, class: "img-fluid" if appointment.experience.image_url.present? %>
        </div>
        <div class="appointment-actions">
          <%= link_to "See more", appointment_path(appointment), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
