<h1>Create Appointment for the Experience: <%= @experience.specialty %></h1>

<%= simple_form_for [@experience, @appointment] do |f| %>
 <div class="card-body">
    <p class="card-text"><strong>Description:</strong> <%= @experience.description %></p>
    <p class="card-text"><strong>Category:</strong> <%= @experience.category %></p>
    <p class="card-text"><strong>Date:</strong> <%= @experience.date %></p>
    <p class="card-text"><strong>Local:</strong> <%= @experience.local %></p>
    <p class="card-text"><strong>Price:</strong> <%= @experience.price %></p>
  </div>

  <%= f.button :submit, "Create Event", class: 'btn btn-primary' %>
<% end %>
