
<div class="container mt-4">
  <h1 class="mt-4 mb-4 text-center">Your booking is confirmed</h1>

  <div class="card">
    <div class="card-body">

      <% if @appointment.experience.photo.key %>
              <%= cl_image_tag @appointment.experience.photo.key, class: "card-img-top", width: 300, height: 300, crop: :fill %>
            <% else %>
              <%= image_tag "Logo.png", alt: "Logo My-Welcome", class: "card-img-top", width: 300, height: 300, crop: :fill %>
            <% end %>

      <h5 class="card-title"><%= @appointment.experience.description %></h5>
      <%# <p class="card-text"><i class="bi bi-card-text icon"></i><strong>Description:</strong> <%= @appointment.experience.description</p>  %>
      <p class="card-text"><i class="bi bi-tags icon"></i><strong>Category:</strong> <%= @appointment.experience.category %></p>
      <p class="card-text"><i class="bi bi-calendar icon"></i><strong>Date:</strong> <%= @appointment.experience.date.strftime('%B %d, %Y') %></p>
      <p class="card-text"><i class="bi bi-geo-alt icon"></i><strong>Local:</strong> <%= @appointment.experience.local %></p>
      <p class="card-text"><i class="bi bi-cash icon"></i><strong>Price:</strong> <%= number_to_currency(@appointment.experience.price, unit: 'U$') %></p>
    </div>
    <div class="card-footer justify-content-center">
      <%# <%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-primary' %>
      <%# <%= link_to 'Delete', appointment_path(@appointment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Cancel appointment', appointment_path, class: "btn btn-danger rounded text-center", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</div>

<!-- app/views/orders/show.html.erb -->
<div class="container">
  <div class="row py-4">
    <div class="col-md-3">
      <%# <% if @appointment.experience.photo.key %>
        <%# <%= cl_image_tag @appointment.experience.photo.key, class: "card-img-top", width: 300, height: 300, crop: :fill %>
      <%# <% else %>
        <%# <%= image_tag "Logo.png", alt: "Logo My-Welcome", class: "img-card", class: "card-img-top", width: 300, height: 300, crop: :fill %>
      <%# <% end %>
    </div>
    <div class="col text-align-center">
      <h1>Order #<%= @appointment.id %> <small><span class="text-info"><%= @appointment.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @appointment.created_at.to_date %></li>
        <li><strong>EXPERIENCE</strong> <%= @appointment.experience.description %> </li>
        <li><strong>TOTAL</strong> <%= number_to_currency @appointment.amount / 100 %></li>
        </li>
      </ul>
      <p><strong>Enjoy this wonderful experience</strong></p>
    </div>
  </div>
</div>
