<html>
  <head>
    <title>Conexão Advogado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Hugo 0.118.2">

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" link_to ="./assets/css/style.css">
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

  </head>

  <body data-controller="navbar">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <div class="fixed-nav body-nav" data-navbar-target="navbar navcontent">
        <%= render "shared/navbar" %>
    </div class="px-5">
        <%= render "shared/flashes" %>
    <div class="body-nav mx-spetial">
        <%= yield %>
    </div>
    <div class="fixed-footer">
        <%= render "shared/footer" %>
    </div>
    <%= javascript_include_tag "scripts" %>

  </body>
</html>
